	<div id="url" class="url">URL    
		<select id="url_tag">
		  <option value="user">Users</option>
		  <option value="game">Games</option>
		  <option value="team">Teams</option>
		</select>
	    <input type="text" name="id_tag" id="id_tag" placeholder="ID"/>
	</div>
	<div id="imageholder" class="imageholder"><br/><br/>Drag & Drop</div><br/>
	<div align="center"><input type="file" id="image_file" class="files" name="image_file[]" multiple=""></div><br/>
	<div class="modal-footer">
		<button class="btn fileuploader btn-primary" id="imageup" type="button">Upload</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
	
