.menu .dd {
	position: absolute;
	z-index: 1000;
	display: none;
	float: left;
	padding: 15px;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 0px 6px 6px 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

/*.dd:after {
	border-color: #ffffff transparent;
	border-width: 0 20px 20px 0.01px;
	border-style: solid;
	top : -20px;
	left : 0px;
	position: absolute;
	content: "";
}*/

.select, .select a {
	background-color: #0081C2;
    background-image: linear-gradient(to bottom, #0088CC, #0077B3);
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-decoration: none;
}

li.sport:hover, li.sport a:hover {
	background-color: #0081C2;
    background-image: linear-gradient(to bottom, #0088CC, #0077B3);
    background-repeat: repeat-x;
    color: #FFFFFF;
    text-decoration: none;
}
.sport-list {
	border-radius : 5px;
	background-color : #FEFEFE;
	margin : 0 15px 0 0;
}

#image-list, #menu {
	margin: 20px 0;
}

#menu {
	float: left; width: 100%;

}

#menu #menu{
    border: 8px solid #eaeaea;
    width: 90%;
    padding:15px 0 0 15px;
}
#menu .menu{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#menu .menu-link-h{
    font-weight: bolder;
    font-family: 'Nunito', "HelveticaNeue";
    font-size: 1.2em;
    color:#333;
    text-transform: uppercase;

}

.seach-box{
    margin:0 15px 0 15px;
}

.type-icons a{
    color: #333;
    padding: 0 10px 0 5px;
}

img.tiny-sport-icon{
    max-width: 20px;
    max-height: 20px;
    margin-right:4px;

}

li.sport a {
	display: inline-block;
	width: 100%;
float: left;
}

li.sport.select a {
	color: #FFF;
}

li.sport a:hover {
	color: #FFF;
}

.caret-large-container{
    background-color: #333;
    height: 14px;
    width: 14px;
    padding: 3px;
    display: inline-block;
    margin: 0 0 0 8px;
    text-align: center;
    top: 3px;
    position: relative;
}
.caret-large{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 9px 6px 0 6px;
    border-color: #FFF transparent transparent transparent;
    display: inline-block;
    margin: 0 0 3px 0;
}

.register-wrapper {
	background: url(/images/background/register_background.jpg) no-repeat;
	background-size: cover;
	opacity: 0.5;
	position: absolute;
	width: 100%;
	max-width: 1000px;
	height: 384px;
	top: 62px;
}

.register-wrapper-h #regcontainer {
	padding: 0;
}

#regcontainer #mainreg {
	background-color: transparent;
	opacity: 1;
}

#regcontainer #firstreg {
	
}


#regpane #firstreg input {
	margin-top: 0;
	background-color: #FFF;
	width: 300px;
height: 35px;
}

#regpane input.regsubmit {
	margin: 0 -10px 0 0;
	padding: 0 10px;
	float: right;
	height: 40px;
}

#regcontainer #fbpane {
	border-style: initial;
}

#regcontainer .regheader {
	padding: 0 0 0 35px;
	font-size: 3.3em;
	font-weight: bold;
}

#mainreg #regor {
	text-align: left;
	margin-left: 84px;
	color: #FFF;
}
