<div class="dropdown-container">
	<input type="hidden" class="hidden-input-dropdown-h" value="" />
	<div class="drop-down-outer">
		<div class="region-dark dropdown-header-box">
			{{dropView.title}}
		</div>
		<div class="down-arrow-outer">
			<a href="javascript: void(0);" class="down-arrow up-down-arrow-h">
				<span class="icon-white icon-chevron-down"></span>
			</a>
		</div>
	</div>
	<div class="common-container">
		<ul class="common-dropdown">
			{{#records}}
			<li class="{{#dropView.defaultSelected}}{{dropView.defaultSelected}}{{/dropView.defaultSelected}}">
				<a data-id="{{#dropView.getRecordId}}{{dropView.getRecordId}}{{/dropView.getRecordId}}" href="javascript: void(0);">{{#dropView.getRecordValue}}{{dropView.getRecordValue}}{{/dropView.getRecordValue}}</a>
			</li>
			{{/records}}
		</ul>
	</div>
</div>
