<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
	<tr>
		<th rowspan="3" class="sized"><img src="images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
		<th class="topleft"></th>
		<td id="tbl-border-top">&nbsp;</td>
		<th class="topright"></th>
		<th rowspan="3" class="sized"><img src="images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
	</tr>
	<tr>
		<td id="tbl-border-left"></td>
		<td>
			<!--  start content-table-inner ...................................................................... START -->
			<div id="content-table-inner">
				<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
					<tr>
						<th class="table-header-check"></th>
						<th class="table-header-repeat line-left minwidth-1"><a>Object Type</a></th>
						<th style="width:400px;" class="table-header-repeat line-left minwidth-1"><a>Description</a></th>
						<th class="table-header-repeat line-left minwidth-1"></th>
					</tr>
					{{#ents}}
						<tr>
							<td></td>
							<td>{{name}}</td>
							<td><div style="white-space: nowrap;	overflow: hidden;text-overflow: ellipsis; width:400px;">{{desc}}</div></td>
							<td onclick="loadContent('/admin/show_postparams',{'entID':{{id}}});"></td>
						</tr>
					{{/ents}}
				</table>
			</div>
		</td>
	</tr>
</table>