<a name="top"></a>
<div id="nav">
    {{#methods}}<ul>{{#method}}
        <li><a href="#method{{id}}"><h3>{{id}} - {{shortname}} ({{api_method}})</h3></a></li>
    {{/method}}</ul>{{/methods}}
</div>
{{#methods}}
<h1>{{entity_type}}</h1><br />
<h2>{{desc}}</h2>
{{#method}}
<a name="method{{id}}"></a><a href="#top"><span>Go To Top</span></a>
<form id="form_{{id}}">
<ul class="methods" style="margin-bottom: 10px; border: 1px solid #333; padding: 10px; list-style: none;">

		<li class="firstmethod"><h1>{{id}} - {{shortname}} ({{api_method}})</h1>  <span class="delete" onclick="delMethod({{id}},{{ent_id}},'{{verb}}');">DELETE METHOD</span></li>
		<li>{{usage}}
			{{#entdata}}
			{{#hassiblings}}
				<select name="id1">
					<option value="0">None</option>
					{{#siblings}}
						<option value="{{id}}">{{id}} - {{name}}</option>
					{{/siblings}}
				</select>
			{{/hassiblings}}
			{{^hassiblings}}
				<input type="text" name="id1" id="id1_{{id}}" />
			{{/hassiblings}}
			{{/entdata}}
		</li>
		<li class="description">{{description}}</li>

		<li class="params">{{#hasparams}}
			<div style="border-bottom:1px solid #cecece;"></div><br>

			{{/hasparams}}
			{{#params}}
			<span class="paramname">{{name}} ({{type}})</span> - <span class="description">{{desc}}</span> - <span class="delete" onclick="delParam({{id}},{{ent_id}},'{{verb}}');">Delete</span><br />
			{{#hasobjs}}
				<select  name="{{name}}" id="{{name}}">
					<option value="0">No Value</option>
					{{#objs}}<option value="{{id}}">{{name}}</option>{{/objs}}
				</select>
			{{/hasobjs}}
			{{^hasobjs}}
				<input type="text" name="{{name}}" id="{{name}}" />
			{{/hasobjs}}
			<br /><br />

			{{/params}}
			{{#hasparams}}

		{{/hasparams}}
			<input type="submit">

            <div>
                <input type="checkbox" name="saveRequest" id="chk_save_{{id}}" onclick="markSave(this,'#save_title_{{id}}');" />&nbsp;Save This Request For Later
                <input type="hidden" name="apiaccess_id" value="{{id}}" />
                <input type="text" name="saveTitle" id="save_title_{{id}}" placeholder="Alias For This Saved Request" disabled="disabled" style="width:200px;" />
            </div><br />
            <a href="/codegen/genmethod?methods_id={{id}}" target="_blank">Generate Scaffolding Code for {{shortname}}</a>


        </li>
</ul></form>
<ul class="methods" style="margin-bottom: 10px; border: 1px solid #333; padding: 10px; list-style: none;">
            <li><h2>{{shortname}} {{api_method}} Tests</h2>
                <h3>File Test (for comparison)</h3>
                <input type="text" id="testFile_{{id}}" value="{{testfile}}" style="width:50%;" /><button onclick="fileTest('#testFile_{{id}}');">Get Test File Data</button>
                {{#hastests}}
                <br />
                <h3>Saved Tests</h3>
                <select id="testlist_{{id}}" onchange="loadTest('#testbox_{{id}}',this.value);">
                    <option value="0">Select Test</option>
                    {{#tests}}
                    <option value="{{id}}">{{name}}</option>
                    {{/tests}}
                </select>

                <input type="text" id="testDest_{{id}}" value="{{usage}}" style="width:50%;" placeholder="Test Destination" />

                <br />
                <textarea id="testbox_{{id}}" style="width:100%; height: 55px;"></textarea>
                <button onclick="manualTest('#testDest_{{id}}','#testbox_{{id}}','{{api_method}}');">Run Saved Test</button>
                {{/hastests}}
            </li>
        </ul>
        <ul class="methods" style="margin-bottom: 10px; border: 1px solid #333; padding: 10px; list-style: none;">
            <li>
                <div><h2>{{shortname}} ({{api_method}}) Dev Status</h2>
                    <input type="checkbox" id="chk_{{id}}" onclick="updateComplete({{id}},this.checked);"{{#complete}} checked="checked"{{/complete}} /> <span>Complete</span>
<br />
                    <textarea id="{{id}}_currstat" style="width:100%; height: 55px;">{{status}}</textarea><br />
                    <button id="update_{{id}}" onclick="updateStatus({{id}});">Update Status</button>
                    </div>
            </li>
        </ul>

<ul class="methods" style="margin-bottom: 30px; border: 1px solid #333; padding: 10px; list-style: none;">
    <li>
        <h2>Add A New Parameter to {{shortname}} Method</h2>
        <form id="addParam_{{id}}">
            <input type="hidden" name="apiaccess_id" value="{{id}}" />
            <div>
                <h3>Shortname</h3>
                <input type="text" name="param_name" />
                <h3>Data Type</h3>
                <select name="param_type">
                    <option value="int">Integer</option>
                    <option value="string">String</option>
                    <option value="datetime">Date / Time</option>
                    <option value="bool">Boolean</option>
                    <option value="array">Array</option>
                </select>
                <h3>Description</h3>
                <textarea name="description" style="width:100%; height: 55px;"></textarea><br />
                <h3>Entity Type of Parameter (leave blank for none)</h3>
                <input type="text" name="enttypes_id" />
                <input type="submit">
            </div>
        </form>
        <script type="text/javascript">
            $(document).ready(function(){
                $('form#addParam_{{id}}').submit(function(){

                    var $me = $(this);
                    var formdata = $me.serialize();

                    console.log(formdata);

                    $.ajax({
                        type : 'POST',
                        url : '/apiadmin/addapiparam',
                        data : formdata,
                        success : function(data)
                        {
                            console.log(data);
                            loadContent('/admin/show_postparams',{'entID':'{{ent_id}}','httpverb':'{{verb}}'});
                        }
                    });
                    return false;
                });


            });
        </script>
    </li>
</ul>

<hr /><br />
<script type="text/javascript">
	$(document).ready(function(){
		$('form#form_{{id}}').submit(function(){

			var $me = $(this);

			console.log($me.serialize());
			var id1 = $me.find('input[name="id1"], select[name="id1"]').val();

			$.ajax({
				type : '{{api_method}}',
				url : '{{usage}}' + id1,
				data : $(this).serialize(),
				success : function(data)
				{
					console.log(data);
					$me.find('select').val(0);
					$me.find('input[type="text"]').val('');
				}
			});
			return false;
		});


	});
</script>
		{{/method}}

<ul class="methods" style="margin-bottom: 10px; border: 1px solid #333; padding: 10px; list-style: none;">
    <li>
        <h2>Add A New Method to {{entity_type}}</h2>
        <form id="addmethod">
            <input type="hidden" name="entlist_id" value="{{ent_id}}" />
            <input type="hidden" name="method" value="{{verb}}" />
            <div>
                <h3>Shortname</h3>
                <input type="text" name="shortname" />
                <h3>Description</h3>
                <textarea name="description" style="width:100%; height: 55px;"></textarea><br />
                <input type="submit">
            </div>
        </form>
        <script type="text/javascript">
            $(document).ready(function(){
                $('form#addmethod').submit(function(){

                    var $me = $(this);
                    var formdata = $me.serialize();

                    console.log(formdata);

                    $.ajax({
                        type : 'POST',
                        url : '/apiadmin/addapimethod',
                        data : formdata,
                        success : function(data)
                        {
                            console.log(data);
                            loadContent('/admin/show_postparams',{'entID':'{{ent_id}}','httpverb':'{{verb}}'});
                        }
                    });
                    return false;
                });


            });
        </script>
    </li>
</ul>

{{/methods}}
