
{{#methods}}
<h1>{{entity_type}}</h1><br />
<h2>{{desc}}</h2>
{{#method}}
<form id="form_{{id}}">
<ul class="methods" style="margin-bottom: 30px; border: 1px solid #333; padding: 10px; list-style: none;">

		<li class="firstmethod"><h1>{{shortname}} ({{api_method}})</h1></li>
		<li>{{usage}}
			{{#entdata}}
			{{#hassiblings}}
				<select name="id1">
					<option value="0">None</option>
					{{#siblings}}
						<option value="{{id}}">{{name}}</option>
					{{/siblings}}
				</select>
			{{/hassiblings}}
			{{^hassiblings}}
				<input type="text" name="id1" id="id1_{{id}}" />
			{{/hassiblings}}
			{{/entdata}}
		</li>
		<li class="description">{{description}}</li>

		<li class="params">{{#hasparams}}
			<div style="border-bottom:1px solid #cecece;"></div><br>

			{{/hasparams}}
			{{#params}}
			<span class="paramname">{{name}} ({{type}})</span><span class="description">{{desc}}</span><br />
			{{#hasobjs}}
				<select  name="{{name}}" id="{{name}}">
					<option value="0">No Value</option>
					{{#objs}}<option value="{{id}}">{{name}}</option>{{/objs}}
				</select>
			{{/hasobjs}}
			{{^hasobjs}}
				<input type="text" name="{{name}}" id="{{name}}" />
			{{/hasobjs}}
			<br /><br />

			{{/params}}
			{{#hasparams}}


		{{/hasparams}}
			<input type="submit"></li>
</ul></form>
<script type="text/javascript">
	$(document).ready(function(){
		$('form#form_{{id}}').submit(function(){

			var $me = $(this);

			console.log($me.serialize());
			var id1 = $me.find('input[name="id1"], select[name="id1"]').val();

			$.ajax({
				type : '{{api_method}}',
				url : '{{usage}}' + id1,
				data : $(this).serialize(),
				success : function(data)
				{
					console.log(data);
					$me.find('select').val(0);
					$me.find('input[type="text"]').val('');
				}
			});
			return false;
		});
	});
</script>
		{{/method}}
{{/methods}}
