<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Athletes Up Admin</title>
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" title="default" />
	<!--[if IE]>
	<link rel="stylesheet" media="all" type="text/css" href="css/pro_dropline_ie.css" />
	<![endif]-->
<style>
	.bordered {
		border: solid #ccc 1px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0 1px 1px #ccc;
		-moz-box-shadow: 0 1px 1px #ccc;
		box-shadow: 0 1px 1px #ccc;
	}

	.bordered tr:hover {
		background: #fbf8e9;
		-o-transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}

	.bordered td, .bordered th {
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
		padding: 10px;
		text-align: left;
		max-width: 500px;
	}

	.bordered th {
		background-color: #dce9f9;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
		background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
		background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
		background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
		background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
		background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
		-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
		box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
		border-top: none;
		text-shadow: 0 1px 0 rgba(255,255,255,.5);
	}

	.bordered td:first-child, .bordered th:first-child {
		border-left: none;
	}

	.bordered th:first-child {
		-moz-border-radius: 6px 0 0 0;
		-webkit-border-radius: 6px 0 0 0;
		border-radius: 6px 0 0 0;
	}

	.bordered th:last-child {
		-moz-border-radius: 0 6px 0 0;
		-webkit-border-radius: 0 6px 0 0;
		border-radius: 0 6px 0 0;
	}

	.bordered th:only-child{
		-moz-border-radius: 6px 6px 0 0;
		-webkit-border-radius: 6px 6px 0 0;
		border-radius: 6px 6px 0 0;
	}

	.bordered tr:last-child td:first-child {
		-moz-border-radius: 0 0 0 6px;
		-webkit-border-radius: 0 0 0 6px;
		border-radius: 0 0 0 6px;
	}

	.bordered tr:last-child td:last-child {
		-moz-border-radius: 0 0 6px 0;
		-webkit-border-radius: 0 0 6px 0;
		border-radius: 0 0 6px 0;
	}

	.bordered tr td:last-child{
		max-width: 250px;
		height: 25px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.bordered tr td img.delicon{
		width:20px;
		height:20px;
	}

	.bordered tr td{
		vertical-align: middle;
	}

	.bordered tr.opened td{
		background-color: #dfffe1;
	}

	.bordered tr.error td{
		background-color: #ffdee8;
	}

	.bordered tr td[onclick]{
		cursor: pointer;
	}
	.bordered tr td[onclick]:hover{
		background-color: #efefef;
	}
	.bordered tr td input{
		width:90%;
		height: 25px;
	}

	.bordered tr td textarea{
		width: 90%;
		height: 50px;
	}

	.bordered tr td div.description{
		font-size: 10px;
		font-weight: lighter;
		font-style: italic;
		color: #666;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}

	.bordered tr td img.thumb{
		max-width: 50px;
		max-height: 50px;
	}

</style>
	<!--  jquery core-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<!--  checkbox styling script-->
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

	<script type="text/javascript">

			function loadContent(uri,data)
			{
				var data = data || {};

				$.ajax({
					url : uri,
					data : data,
					success : function(html)
					{
						$('div#content').html(html);
					},
					error : function(html)
					{
						$('div#content').html(html);
					},
					type : 'GET'
				});
			}

            var updateStatus = function(id)
            {
                var text = $('textarea#' + id + '_currstat').val();
                $.ajax({
                    url:'/codegen/savestatus',
                    data:{
                        id:id,
                        currStatus:text
                    },
                    type:'GET'
                });
            }

            var updateComplete = function(id,isDone)
            {
                $.ajax({
                    url:'/codegen/savecomplete',
                    data:{
                        id:id,
                        isDone:isDone
                    },
                    type:'GET',
                    success : function(data){
                        console.log(data);
                    }
                });
            }

            var loadTest = function(dest,id)
            {
                $.getJSON('/api/apitest/testval/'+id,{},function(json){
                    console.log(json.payload.testval);
                    console.log(dest);
                    $(dest).val(json.payload.testval);
                });
            }

        var fileTest = function(dest)
        {
            $.getJSON($(dest).val(),{},function(json){console.log(json)});
        }

        var manualTest = function(dest,data,verb)
        {
            console.log(dest);
            $.ajax({
                url:$(dest).val(),
                type:verb,
                data:$(data).val(),
                success:function(json)
                {
                    console.log(json);
                }
            })
        }

            var delParam = function(paramID,entID,verb)
            {
                if(confirm("Delete Parameter?"))
                {
                    $.ajax({
                        url:'/apiadmin/delparam',
                        type:'POST',
                        data:{'params_id':paramID},
                        success:function(json)
                        {
                            loadContent('/admin/show_postparams',{'entID':entID,'httpverb':verb});
                        }
                    });
                }
            }
            var delMethod = function(methodID,entID,verb)
            {
                if(confirm("Delete Method?"))
                {
                    $.ajax({
                        url:'/apiadmin/delmethod',
                        type:'POST',
                        data:{'methods_id':methodID},
                        success:function(json)
                        {
                            loadContent('/admin/show_postparams',{'entID':entID,'httpverb':verb});
                        }
                    });
                }
            }

        var markSave = function(el,txt_id)
        {
            if(el.checked)
            {
                $(txt_id).removeAttr('disabled');
            }
            else
            {
                $(txt_id).attr('disabled','disabled').val('');
            }
        }

	</script>
</head>
<body>

<!-- End: page-top-outer -->

<div class="clear">&nbsp;</div>

<!--  start nav-outer-repeat................................................................................................. START -->
<div class="nav-outer-repeat">
	<!--  start nav-outer -->
	<div class="nav-outer">

		<!-- start nav-right -->
		<div id="nav-right">

			<div class="nav-divider">&nbsp;</div>
			<div class="showhide-account"><img src="images/shared/nav/nav_myaccount.gif" width="93" height="14" alt="" /></div>
			<div class="nav-divider">&nbsp;</div>
			<a href="/admin/logout" id="logout"><img src="images/shared/nav/nav_logout.gif" width="64" height="14" alt="" /></a>
			<div class="clear">&nbsp;</div>


		</div>
		<!-- end nav-right -->


		<!--  start nav -->
		<div class="nav">
			<div class="table">

				<ul class="select">
					<li><a href="#nogo"><b>Entity Types</b><!--[if IE 7]><!--></a><!--<![endif]-->
						<!--[if lte IE 6]><table><tr><td><![endif]-->
						<div class="select_sub">
							<ul class="sub">
								<li><a href="#" onclick="loadContent('/admin/list_ents');">List All</a></li>
							</ul>
						</div>
						<!--[if lte IE 6]></td></tr></table></a><![endif]-->
					</li>
				</ul>

				<ul class="select">
					<li><a href="#nogo"><b>Emails</b><!--[if IE 7]><!--></a><!--<![endif]-->
						<!--[if lte IE 6]><table><tr><td><![endif]-->
						<div class="select_sub">
							<ul class="sub">
								<li><a href="#" onclick="loadContent('/admin/emailsent');">Sent Emails</a></li>
							</ul>
						</div>
						<!--[if lte IE 6]></td></tr></table></a><![endif]-->
					</li>
				</ul>

				<div class="nav-divider">&nbsp;</div>

				<ul class="select"><li><a href="/codegen/gendocs"><b>Documentation</b><!--[if IE 7]><!--></a><!--<![endif]-->
					<!--[if lte IE 6]><table><tr><td><![endif]-->

					<!--[if lte IE 6]></td></tr></table></a><![endif]-->
				</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<!--  start nav -->

	</div>
	<div class="clear"></div>
	<!--  start nav-outer -->
</div>
<!--  start nav-outer-repeat................................................... END -->

<div class="clear"></div>

<!-- start content-outer ........................................................................................................................START -->
<div id="content-outer">
<!-- start content -->
<div id="content">

<!--  end content -->
<div class="clear">&nbsp;</div>
</div>
<!--  end content-outer........................................................END -->

<div class="clear">&nbsp;</div>

<!-- start footer -->
<div id="footer">

	<div class="clear">&nbsp;</div>
</div>
<!-- end footer -->
</div>
</body>
</html>