<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Internet Dreams</title>
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" title="default" />
	<!--  jquery core -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){

			$('#loginsubmit').bind('click',submitLogin);

			function submitLogin()
			{

				var username = $('#username').val();
				var password = $('#pass').val();
				var remember = $('#login-check').is(':checked');

				console.log(username);
				$.ajax({
					type : 'POST',
					url : '/admin/login',
					dataType : 'json',
					data : {
						'username' : username,
						'password' : password,
						'remember' : remember
					},
					success : function(json){
						if(json.success) location.reload();
						else
						{
							$('#failed_message').text('Login Failed');
						}
					}
				});
			};

		});
	</script>
</head>
<body id="login-bg">

<!-- Start: login-holder -->
<div id="login-holder">

	<!-- start logo -->
	<div id="logo-login">
	</div>
	<!-- end logo -->

	<div class="clear"></div>

	<!--  start loginbox ................................................................................. -->
	<div id="loginbox">

		<!--  start login-inner -->
		<div id="login-inner">
			<div id="failed_message"></div>
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<th>Username</th>
					<td><input type="text" id="username"  class="login-inp" /></td>
				</tr>
				<tr>
					<th>Password</th>
					<td><input type="password" id="pass" value="************"  onfocus="this.value=''" class="login-inp" /></td>
				</tr>
				<tr>
					<th></th>
					<td valign="top"><input type="checkbox" class="checkbox-size" id="login-check" /><label for="login-check">Remember me</label></td>
				</tr>
				<tr>
					<th></th>
					<td><input type="button" id="loginsubmit" class="submit-login"  /></td>
				</tr>
			</table>
		</div>
		<!--  end login-inner -->
		<div class="clear"></div>
	</div>
	<!--  end loginbox -->

	<!--  start forgotbox ................................................................................... -->
	<div id="forgotbox">
		<div id="forgotbox-text">Please send us your email and we'll reset your password.</div>
		<!--  start forgot-inner -->
		<div id="forgot-inner">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<th>Email address:</th>
					<td><input type="text" value=""   class="login-inp" /></td>
				</tr>
				<tr>
					<th> </th>
					<td><input type="button" class="submit-login"  /></td>
				</tr>
			</table>
		</div>
		<!--  end forgot-inner -->
		<div class="clear"></div>
		<a href="" class="back-login">Back to login</a>
	</div>
	<!--  end forgotbox -->

</div>
<!-- End: login-holder -->
</body>
</html>