<div class="org-list-title">No Teams Matched, but we did find the following organizations.  Click one of these organzations to add a(n)
	<%=seasoninfo.complevel %> <%=seasoninfo.season %> <%= seasoninfo.year %> team.</div>
<ul id="choose-org">
	<% _.each(data,function(val,index){ %>
		<li class="add-team-to-org-h" data-id="<%= val.id %>" data-club-name="<%= val.name %>">
			<span class="org-name"><%= val.name %></span>
			<span class="org-location"><%= val.locations.full_address %></span>
		</li>
	<% }); %>
	<li class="add-team-to-new-org-h">
		<span class="org-name">Nope, none of these match</span>
		<span class="org-location">Click here to create <%= user_text %> <%=seasoninfo.complevel %> <%=seasoninfo.season %> <%= seasoninfo.year %></span>
	</li>
</ul>