{{#payload}}
<div class="row-fluid">
	
	<div class="profile-heading">
		<div class="sports-h"></div>
            <h3 class="username">{{name}} {{#grad_year}}'{{grad_year}}{{/grad_year}}</h3>
			<h3>&nbsp;</h3>
    </div>
	
	<div class="row-fluid profile-pic-outer">
		<div class="span7 border-right">
			<ul class="span6 textcenter image-outer-h">
			</ul>
		    <!--div class="span6 textcenter">
		        {{#user_picture_obj}}
		        <img src="{{base_url}}{{image_path}}" alt="{{name}}" />
			    <div id="votes-area-h"></div>
		        {{/user_picture_obj}}
		    </div-->
		    
		    <div class="span6">
			    	<!--<div class="school-name">ORG NAME</div>
			    	<div class="city">LOCATION</div>-->
			    	<div class="teams">
			    		 <div id="sports-info"></div>
			    	</div>
			    	<div class="height">{{#height_ft}}{{height_ft}}{{/height_ft}}</div>
			    	<div class="weight">{{#weight_lb}}{{weight_lb}} lbs{{/weight_lb}}</div>
	       </div>
	    </div>
	    
	    <div class="stats-panel span5" style="width:35%;">
	    	<div class="stats-header"><span id="profileName"></span>Stats</div>
	    	<div id="fitnessbasic-wrap"></div>
	    </div>
	</div>    
    
   </div>
    
</div>
{{/payload}}
