<div class="template-container">
	<div id="main-header" class="profile-header"></div>
	
	<div class="green-left-heading">MESSAGE BOARD</div>
	<div id="commenton-wrap" class="clearfix clear profile-comment-list-box"></div>
	<div id="comment_div" class="clearfix"></div>
	
	<div class="green-left-heading">PHOTO/VIDEO</div>
	<div class="row-fluid" id="main-content">
	<!-- <div id="video-wrap" class="clearfix"></div> -->
		<div id="image-wrap" class="clearfix clear">
		</div>
		<div id="add-media" class="clearfix">add media</div>
	</div>
	
	<div class="row-fluid">
		<div class="span4" id="main-sidebar">
			<div id="org-wrap" class="clearfix hide"></div>
			<div id="related-wrap" class="clearfix hide"></div>
			<div id="fitnessbasic-wrap" class="clearfix hide"></div>
		</div>
	</div>
	
	<div class="green-left-heading">GAMES</div>
	<div id="games_div" class="clearfix">
		<!--div class="game-box-outer">
			<ul>
				<li><a href="javascript: void(0);" class="background-blue">a</a></li>
				<li><a href="javascript: void(0);" class="background-orange">b</a></li>
				<li><a href="javascript: void(0);" class="background-orange">c</a></li>
				<li><a href="javascript: void(0);" class="background-orange">d</a></li>
			</ul>
		</div-->
		
	</div>
	<div class="green-left-heading">FANS</div>
	<div id="fans-div" class="clearfix clear">&nbsp;</div>
	
	<div id="main-footer">
	</div>
</div>
