
<div id="main-header">

</div>

<div class="row-fluid">
    <div class="span4" id="main-sidebar">
    
        <div id="add-media" class="clearfix" style="border:1px solid green;height:10px;">
			add media
        </div>
        
        <div id="org-wrap" class="clearfix">
        </div>
        
        <div id="related-wrap" class="clearfix">        
        </div>
        
        <div id="fitnessbasic-wrap" class="clearfix">
        </div>
    
    </div>
    <div class="span8" id="main-content">
        
        <div id="video-wrap" class="clearfix">
        </div>
        
        <div id="image-wrap" class="clearfix">
        </div>
        
        <div id="commenton-wrap" class="clearfix" style="border:1px solid red;">

        </div>
		<div id="comment_div" class="clearfix" style="border:1px solid red;">
		</div>

        
    </div>
</div>

<div id="main-footer">

</div>
