.regheader{
			font-size: 20px;
			padding: 59px;
		}
#header{
			padding-top: 16px;
			padding-bottom: 20px;
			font:  bold 12px/20px;
		}
#fbpane{
			background-color: #3b5998;
			width: 242px;
			padding: 10px;
			margin-left: 18%;
			text-align: center;
			color: white;
			font-size: 14px;
			font-weight: bold;
			cursor: pointer;
			border-style: none;

		}	
#regpanemain{
		position: absolute;
		width: 547PX;

}	
#firstregbase{
	
    padding-left: 75px;
    width: 347px;
	float: left;
}	
#firstregbase input{
			background-color: #FFFFFF;
			border-style: none;
			color: #68686A;
			font-size: 16px;
			font-weight: bold;
			height: 29px;
			margin-left: 14px;
			margin-top: 5px;
			padding-left: 14px;
			width: 297px;
		}
#mainreg{
			width: 495px;
			position: relative;
			background-color: white;
			margin: 0 auto;
		}
.regor{
			color: #292929;
			margin: auto;
			position: relative;
			text-align: center;
    font-weight: bolder;
}
.regsubmit{
			background-color: #9DCA3C;
			width: 224px;
			color: white;
			font-size: 20px;
			border-style: none;
			padding: 0 10px;
			height: 40px;
}
.signupsubmit{
	
			padding-top: 106px;
		
}
.signupform{
			width: 100%;
			position: relative;
			
}
#reglogin{
			text-align: center;
}
#reglogin	a{
		text-decoration: none;
		color: #6C74B7;
		border-bottom: 1px solid rgb(202, 196, 196);
}
#firstreg input{
			background-color: #E4E3E9;
    		border-style: none;
    		color: #68686A;
    		font-size: 16px;
    		font-weight: bold;
    		height: 38px;
    		margin-left: 25px;
    		margin-top: 25px;
    		padding-left: 14px;
    		width: 258px;
		}
		.error {
			color: red;
		}
		.message {
			padding: 10px;
			background-color: yellow;
		}
		#regpane{
			width: 327px;
			overflow: hidden;
			position: relative;
			padding: 10px;
			height: auto;
			//background-color: burlywood;
			margin-left: 10%;
			margin-bottom: 0%;

		}
		#regpanefinal{
			width: 382px;
			//overflow: hidden;
			position: relative;
			padding: 10px;
			height: auto;
			//background-color: burlywood;
			margin-left: 10%;
			margin-bottom: 0%;

		}
		
		
		#mainregfinal{
			width: 100%;
			position: relative;
			background-color: white;
			margin: 0 auto;
		}

		
		#regcontainer{
			margin: 0 auto;
			width: 100%;
			height: auto;
		}
		
		
		.regsubmitfinal{
			background-color: #1BA0AF;
			width: 224px;
			height: 35px;
			color: white;
			font-size: 20px;
			border-style: none;

		}
		#fblogo{
		/*	background-image: url(new-facebook-logo.png);*/
			background-size: 25px;
			width: 50px;
			background-color: wheat;

		}
		
		#regor{
			text-align: center;
			padding-top: 14px;
			font-size: 16px;
			font-weight: bold;
			color: #68686A;
		}
		
		.label{
			width: 100px;
			position: relative;
			float: left;
			color:black;
			background-color: white;
		}
		.firstdiv,.seconddiv,.thirddiv,.fourthdiv,.fifthdiv,.sixthdiv,.seventhdiv{

		}
		#finalreg input[type="text"]{
			width: 235px;
			height: 20px;
			background-color: #E4E3E9;
			border: 0;
			border-radius: 0;
		}
		#radioinput input{
			width: 21px;
			height: 30px;
			background-color: #E4E3E9;
			border: 0;
			border-radius: 4px;
		}

		#gender input, #Role input{
			width: 20px;
		}
		.born{
			color: white;
			background-color: #6B6F72;
			height:30px;
			width:100px;
		}
		.borndate{
			color: white;
			background-color: #6B6F72;
			height:30px;
			width:70px;
		}
		.borndyear{
			color: white;
			background-color: #6B6F72;
			height:30px;
			width:80px;
		}
		.radioinput{
			width: 20px;
			float: left;
		}
		.radio{
			width: 84px;
			float: left;
			padding-left: 12px;
			padding-top: 9px;
		}
		.submitbutton{

		}
		#imguploader{
    		position: absolute;
    		opacity: 0
   		}
   		#imgpreview{
      		background-color: white;
      		height: 330px;
      		overflow: hidden;
      		width: 330px;
      		margin-left: 56px;
   		}
   		#previewimg{
    		height: 330px;
    		width: 330px;
   		}
   		#imgupload{
    		padding-left: 218px;
    		padding-top: 14px;
    		position: relative;
   		}
   		.imgup{
    		background-color: #1BA0AF;
    		border-style: none;
   			color: #FFFFFF;
   			font-size: 14px;
    		height: 31px;
   		}
   		#mainregimg{
   			width: 450px;
			position: relative;
			background-color: white;
			margin: 0 auto;
   		}

   		.fbimage {
   			 float:left;
    		 margin-right: 4px;
   			 /* width:150px; */
		}
		.picture-buttons {
    		clear:both;
		}
		/* .fbimagecontainer img { display:none; } */
		.fbimagecontainer jrac_viewport img {display:block}

		#skip{
			width:82px;
		}	
		

.terms-condition {
	width: 30px !important;
	margin-left: 107px !important;
}
#firstregbase input {
    background-color: #f4f4f4;
    transition: background-color 0.5s ease;
}
.loguser{

}
.loguser input{
	float: left;
    margin-left: 1px !important;
    width: 46px !important;

}
.loguser label{
	padding: 9px;

}
.loguser p {
	 font-size: 13px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: -8px;
}

#regpanemain {
   	position: relative!important;
    width: 547px;
}
.subtweak{

}
.btn-common{
	color:blue;
}
.addsub{
	padding-top: 15px;
}
.loginUser ,.addsub{
	margin-left: 15px;
}
.errormsg {
    color: #FF0000;
    font-size: 12px!important;
    font-weight: bold!important;
    padding-left: 17px!important;
}

input.field-failed{
    background-color: #E27171 !important;
}