<div>
	<div class="name-outer">
		<label>Name</label>
		<input type="text" class="name-h" class="name" placeholder="Please enter name." />
	</div>
	<div class="club-season-profile">
		<div class="profile-h"></div>
	</div>
	<div class="comptetion-level-type">
		<div class="comp-levels-h"></div>
	</div>
	
	<div class="address">
		<label>Address</label>
		<textarea placeholder="Address" max-length rows="3" class="address-h" cols="25"></textarea>
		<span class="address-verified hide address-verified-status-h">Address Verified</span>
		<a href="javascript: void(0);" class="verify-address-h">VERIFY ADDRESS</a>		
	</div>
	
	<div class="clear">
		<a href="javascript: void(0);" class="common-btn common-btn-direction cancel-h" title="cancel">Cancel</a>
		<a href="javascript: void(0);" class="common-btn common-btn-direction finish-h" title="finish">Finish</a>
	</div>

	
	
</div>