<div class="add-club-school-outer">
	<div class="name-outer">
		<label>Name</label>
		<input type="text" class="name-h" class="name" placeholder="Please enter name." />
	</div>
	<div class="club-season-profile">
		<label>Which of these most closely matches the seasons that your club competes?</label>
		<div class="profile-h"></div>
	</div>
	<div class="comptetion-level-type">
		<label>Which best describes the levels your club has?</label>
		<div class="comp-levels-h"></div>
	</div>
	
	<div class="address">
		<label>Address</label>
		<textarea placeholder="Address" max-length rows="3" class="address-h" cols="25"></textarea>
		<span class="address-error hide address-error-status-h"></span>
		<a href="javascript: void(0);" class="verify-address-h">VERIFY ADDRESS</a>		
	</div>
	
	<div class="location-map-h"></div>
	
	<div class="clear location-buttons">
		<a href="javascript: void(0);" class="common-btn common-btn-direction cancel-h" title="cancel">Cancel</a>
		<a href="javascript: void(0);" class="common-btn common-btn-direction finish-h" title="finish">Finish</a>
	</div>

	
	
</div>