
{{#payload}}
<div class="row-fluid">
	
	<div class="profile-heading">
            <h3 class="username">{{name}} '{{grad_year}}</h3>
            <h4>FORWARD</h4>
    </div>
	
	
	
    <!--div class="span4 textcenter">
        {{#picture}}
        <img src="{{picture}}" alt="{{name}}" />
        {{/picture}}
    </div>
    <div class="span8">
        <div>
            <h3 class="teamname">{{name}}</h3>
            <div class="teamloaction">{{location}}</div>
            <div class="votes">Votes: {{num_votes}}</div>
            <div class="followers">Followers: {{num_followers}}</div>
        </div>
        <div id="sports-info"></div>
    </div-->
</div>

<div id="sports-info">
	
	<select class="sports-h">
		<option>-SELECT--</option>
	</select>
	
	<select class="season-h">
		<option>-SELECT--</option>
	</select>
	
	
	<select class="team-h">
		<option>-SELECT--</option>
	</select>
	
</div>
{{/payload}}

