
{{#payload}}
<div class="row-fluid">
	
	<div class="profile-heading">
            <h3 class="username">{{org_sport_link_obj.org.org_name	}}</h3>
            <h4>{{org_sport_link_obj.sport.sport_name}} | {{complevels_obj.complevel_name}} | {{seasons_obj.season_name}} '{{year}}</h4>
            <a href="javascript: void(0);" id="editTeamLink" title="Edit Team">Edit Team</a>
            
            <div id="votes-area-h"></div>
    </div>
	
    <!--div class="span4 textcenter">
        {{#picture}}
        <img src="{{picture}}" alt="{{name}}" />
        {{/picture}}
    </div>
    <div class="span8">
        <div>
            <h3 class="teamname">{{name}}</h3>
            <div class="teamloaction">{{location}}</div>
            <div class="votes">Votes: {{num_votes}}</div>
            <div class="followers">Followers: {{num_followers}}</div>
        </div>
        <div id="sports-info"></div>
    </div-->
</div>
{{/payload}}

