
<div id="main-header">

</div>

<div class="row-fluid">
    <div class="span4" id="main-sidebar">
    
        <div id="add-media" class="clearfix">
        </div>
        
        Upcoming<br/>
        <div id="upcoming-schedule" class="clearfix">
        </div>
        
        Recent<br/>
        <div id="recent-schedule" class="clearfix">        
        </div>
        
        <a href="#">Missing a Game?</a>
        
        <div id="competitor-teams" class="clearfix">
        </div>
    
    </div>
    <div class="span8" id="main-content">
    	
    	<div>MESSAGE BOARD</div>
    	<div class="commentson-outer-box-h clear"></div>
    	<div id="comment_div" class="clearfix"></div>
        
    	
    	
        Roster
        <div id="roster-wrap" class="clearfix">
        </div>
        
        Videos
        <div id="video-wrap" class="clearfix">
        </div>
        
        Photos
        <div id="image-wrap" class="clearfix">
        </div>
        
        FanBoard
        <div id="comment-wrap" class="clearfix">
        </div>
        
    </div>
</div>

<div id="main-footer">

</div>
