.bar {
    height: 18px;
    background: green;
}
.imageholder {
    border: 3px dashed #1B9FAE;
    margin: 10px;
    padding:30px 0 30px 0;
    vertical-align: middle;
    color: #CCCCCC;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-family: "HelveticaNeue",Helvetica,Arial,sans-serif;
    width: 92%;
}
.previewimg {
    display: inline;
    float: left;
    margin: 10px 4px 25px;
    height: 250px;
}
#preview {
    display: inline-block;
    position: inherit;
}
.fileuploader {
    margin: 10px 5px 0 10px;
}
.tag_select_all{
	float:left;
	color : #CCCCCC;
}
.m_top_10{
	margin-top:10px;
}
.tag_select_all span{
	float: left;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.previewprogress {
    margin: -63px 0 0 0px;
}
.previewimgsrc {
    height: inherit;
    position: relative;
    float: left;
}
.previewrotate {
  
}
.modal {
    left: 5%;
    z-index: 1050;
    width: 90%;
    margin-left: -25px;
}
.modal > * {
    z-index: 1051;
}
.modal-footer button{
    margin:auto;
}
#imgUploadModal .main-body {
    max-height: 500px !important;
    height: 500px;
    width: 70%;
    float: right;
    display:inline-block;
}
#imgUploadModal .main-body {
    max-height: 500px !important;
    height: 500px;
    width: 70%;
    float: right;
    display:inline-block;
}
#main-content-img {
    width: 92%;
    float: left;
    height: 35%;
}
#main-content-img.video{
    float: none;
    height: auto;
}
#image-tagging{
    width: 92%;
    float: left;
    text-align: left;
}
.main-body{
    width:70%;
}
.side-panel{
    width:25%;
    height:92%;
    display:inline-block;
}
#imageuploadForm input[type="file"] {
    width: 90%;
}
#imgUploadModal {
    top:5%;
    max-height: 85%;
    height: 85%;
    overflow-y: auto;
}
.errormsg{
color: red;
}
#imgpreview .selected{
	border: 6px solid #9cca3c;
	 margin-bottom: 25px;
}
.previewimg{
    border: 6px solid #CCCCCC;
	position: relative;
}
.previewimg .click-to-tag{
    width: 90%;
    position: absolute;
    top: 20%;
    vertical-align: middle;
    color: white;
    font-size: 4em;
    line-height: 1em;
    font-weight: bolder;
    opacity: .4;
    right: 5%;
    display: none;
}
.previewimg .lnkFooter{
	background: none repeat scroll 0 0 #9cca3c;
    font-weight: lighter;
    float: left;
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
    width: 100%;
  
    display:none;
    bottom: 0;
     position: absolute;
    opacity: .85;
}
.previewimg .lnkFooter button{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-weight: lighter;
    border:0;
    color: #FFFFFF;
    float: left;
    font-size:1.1em;
    text-shadow: none;
    -webkit-box-shadow:none;
    width: 100px;
    padding:8px;
}
.previewimg .lnkFooter button.rotate img{
    width: 32px;
    height: 32px;
}
.previewimg .lnkFooter button.close{
    border: none;
    font-weight: lighter;
    font-size: 2.6em;
    float: right;
    padding: 9px 16px 17px 16px;
    opacity: 1;
}
.previewimg img {
	border: none;
	box-shadow: none;
	height: 242px;
    width: 250px;
}
.image_upload_loader_new {
	background: url("http://cdn.athletez.com/resources/img/green_loading.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 250px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 260px;
   margin: 0;
}
