[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git



[submodule "modules/kostache"]
	path = modules/kostache
	url = git://github.com/zombor/KOstache.git
[submodule "modules/domparse"]
	path = modules/domparse
	url = git://github.com/madeinnordeste/kohana-simple-html-dom.git



[submodule "modules/admin"]
	path = modules/admin
	url = git://github.com/digibart/killeradmin.git
