<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{base_url}}images/favicon.ico">
    <link rel="apple-touch-icon" href="{{base_url}}images/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{base_url}}images/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{base_url}}images/apple-touch-icon-iphone4.png" />
    <link rel="stylesheet" href="{{base_url}}css/normalize.css">
	<link rel="stylesheet" href="{{base_url}}css/fonts.css">
	<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
	<script>var base_url='{{base_url}}',testpath=false,cdn='{{cdn}}',s3='{{s3}}';</script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script data-main="{{base_url}}main" src="{{base_url}}vendor/require.js"></script>
</head><body></body></html>