<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>{{title}}</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script language="javascript" type="text/javascript">

	</script>
</head>
<body>

{{#states}}
<a href="/scrape/getSports/{{name}}">{{name}}</a><br />
{{/states}}<br />
{{#sports}}
<a href="/scrape/getTeams/{{sport}}">{{sport}}</a><br />
{{/sports}}
</body>
</html>