<div class="row-fluid">
	<span class="spn-black-heading  well-small">Clubs</span>
</div>

<div id="btn-Add-club" class="clearfix div-add-dotted well-small">
	+ Add a Club
</div>
<div id="section-Add-Sports-club" class="displayNone">
<div>
	<span class="span2">What State?</span>
	<input type="text" id="txt-club-state" placeholder="Just Start Typing" tabindex="0"/>
	<p class="field-error"></p>
	<p class="field-message"></p>
</div>

<div>
	<span class="span2">What Club?</span>
	<input type="text" id="txt-club-club" placeholder="Just Start Typing" disabled="disabled" tabindex="1"/>
	<p class="field-error"></p>
	<p class="field-message"></p>
</div>
<div class="div-sports-wrapper displayNone">
	<div id="def-club-sports-section" class="school-sports-section">

	</div>
	<span class="floatLeft"><a href="javascript:void(0)" class=" well-small btn-add-sports" >Add Sports</a> </span>
</div>
<span class="floatRight"><a href="javascript:void(0)" class=" well-small btn-primary" >Save</a> </span>
</div>
<!--CLUBs LISTING SECTION HERE-->
<!--lIST-->
<div class="row-fluid section-team-list-detail-club">

</div>

<!--lIST-->

<!-- <div class="clearfix">
	<h4> Football</h4>
</div>
<div class="sub-section-prof-setting well well-large">
	<div class="well-small">
		<strong>Varsity</strong> X
	</div>
	<div class="span12">
		<span class="span3"><strong>2013</strong></span>
		<span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span>
	</div>
	<div class="span12">
		<span class="span3"><strong>2012</strong></span>
		<span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span>
	</div>
	<div class="span12">
		<span class="span3"><strong>2011</strong></span>
		<span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span>
	</div>
	<div class="well-small">
		<strong>Junior Varsity</strong> X
	</div>
	<div class="span12">
		<span class="span3"><strong>2013</strong></span>
		<span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span>
	</div>
	<div class="span12">
		<span class="span3"><strong>2012</strong></span>
		<span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span>
	</div>
	<div class="span12">
		<span class="span3"><strong>2011</strong></span>
		<span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span>
	</div>
	<div class="row-fluid clearfix">
		<span class="floatLeft"><a href="javascript:void(0)">Add Level</a> </span>
		<span class="floatRight"><a href="javascript:void(0)" class="well-small btn-primary" >Finish</a> </span>
	</div>
</div> -->

