<div>
	<span class="span2">What State?</span>
	<input type="text" id="txt-school-state" placeholder="Just Start Typing"/>
	<p class="field-error"></p>
	<p class="field-message"></p>
</div>

<div>
	<span class="span2">What School?</span>
	<input type="text" id="txt-school-school" placeholder="Just Start Typing"/>
	<p class="field-error"></p>
	<p class="field-message"></p>
</div>

<div>
	<span class="span2">Add Sport</span>
	<select id="ddl-school-sports">
		<option value="">Select</option>
	</select>
	<p class="field-error"></p>
	<p class="field-message"></p>
</div>

<div class="clearfix inner-section">
	<div class="clearfix sub-section-prof-setting well">
		<div>
			<div class="well-small span12">
				<select id="ddl-school-complevel">
					<option value="">Select Level</option>
				</select>
				<p class="field-error"></p>
				<p class="field-message"></p>
			</div>
			<div id="div-school-seasons"></div>
		</div>
		<div class="row-fluid clearfix">
			<span class="floatLeft"><a href="javascript:void(0)">Add Level</a> </span>
			<span class="floatRight"><a href="javascript:void(0)" class=" well-small btn-primary" >Finish</a> </span>
		</div>
	</div>
</div>
<div class="clearfix">
	<h3>Blair Academy</h3><a href="javascript:void(0)">Add Sport</a>
</div>
<div class="clearfix">
	<h4> Basketball</h4>
</div>
<div class="sub-section-prof-setting well well-large">
	<div class="row-fluid">
		<span class="span3"><strong>Winter 2013</strong></span>
		<span class="span3">Varsity</span>
		<span class="span3">Power Forward</span>
	</div>
	<div class="row-fluid">
		<span class="span3"><strong>Winter 2012</strong></span>
		<span class="span3">Varsity</span>
		<span class="span3">Power Forward</span>
	</div>
	<div class="row-fluid">
		<span class="span3"><strong>Winter 2011</strong></span>
		<span class="span3">Junior Varsity</span>
		<span class="span3">Power Forward, Center, Small Forward</span>
	</div>
</div>
<div class="clearfix">
	<h4> Football</h4>
</div>
<div class="sub-section-prof-setting well well-large">
	<div class="well-small">
		<strong>Varsity</strong> X
	</div>
	<div class="span12">
		<span class="span3"><strong>2013</strong></span>
		<span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span>
	</div>
	<div class="span12">
		<span class="span3"><strong>2012</strong></span>
		<span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span>
	</div>
	<div class="span12">
		<span class="span3"><strong>2011</strong></span>
		<span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span>
	</div>
	<div class="well-small">
		<strong>Junior Varsity</strong> X
	</div>
	<div class="span12">
		<span class="span3"><strong>2013</strong></span>
		<span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span>
	</div>
	<div class="span12">
		<span class="span3"><strong>2012</strong></span>
		<span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span>
	</div>
	<div class="span12">
		<span class="span3"><strong>2011</strong></span>
		<span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span><span class="span3">
			<input type="checkbox" />
			<label>Spring </label> </span>
	</div>
	<div class="row-fluid clearfix">
		<span class="floatLeft"><a href="javascript:void(0)">Add Level</a> </span>
		<span class="floatRight"><a href="javascript:void(0)" class="well-small btn-primary" >Finish</a> </span>
	</div>
</div>

<!--	Modal Section to display positions	-->
<div id="modal-school-positions" class="modal hide fade position-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>