<div class="row-fluid">
	<span class="green-left-heading">School</span>
</div>
<div id="btn-Add-School" class="clearfix div-add-dotted">
	+ Add a school
</div>
<div id="section-Add-Sports-school" class="displayNone add-org-fields">
	<div>
		<span class="span2">What State?</span>
		<input type="text" id="txt-school-state" placeholder="Just Start Typing"/>
		<p class="field-error"></p>
		<p class="field-message"></p>
	</div>

	<div>
		<span class="span2">What School?</span>
		<input type="text" id="txt-school-school" placeholder="Just Start Typing" disabled="disabled"/>
		<a class="add-school-h" href="javascript: void(0);">Add a New School</a>
		<p class="field-error"></p>
		<p class="field-message"></p>
	</div>
	<div class="div-sports-wrapper displayNone">
		<div id="def-school-sports-section" class="school-sports-section">

		</div>
		<!--<span class="floatLeft"><a href="javascript:void(0)" class=" well-small btn-add-sports" >Add Sports</a> </span>-->
	</div>
<!-- <span class="floatRight"><a href="javascript:void(0)" class=" well-small btn-primary btn-finish-addsports" >Finish</a> </span> -->
</div>
<!--SCHOOL LISTING SECTION HERE-->
<!--lIST-->
<div class="row-fluid section-team-list-detail">

</div>

<!--lIST-->
