<div class="span12 well-large" style="margin : auto">
	<div id="main-header-prof-setting">

	</div>
	<!-- Basic Info Section Starts-->
	<div class="row-fluid well" id="section-basics-prof-setting"></div>
	<!-- Basic Info Section Ends-->

	<!-- Team Info Section Starts-->
	<div class="row-fluid section-teams-prof-setting">
		<div>
			<h2> Teams </h2>
		</div>
		<!-- High School Section Starts-->
		<div id="section-school-prof-setting" class="row-fluid sub-section-prof-setting well well-large">
			<div class="row-fluid">
				<span class="spn-black-heading  well-small">High School</span>
			</div>

			<div id="btn-Add-School" class="clearfix div-add-dotted well-small">
				+ Add a School
			</div>
			<div id="content-school-prof-setting">
			</div>
			<br/>

		</div>
		<!-- High School Section Ends-->

		<!--Club Info Section Starts-->

		<!--Club Info Section Ends-->

		<!--Individual Sports Section Starts-->
		<div class="row-fluid sub-section-prof-setting well well-large">
			<div class="row-fluid">
				<span class="spn-black-heading  well-small">Individual Sports</span>
			</div>
			<div>
				<h6>Select All Sports You Compete In</h6>
				<select class="ddl-individual" multiple="true">
					<option>Test</option>
					<option>Test</option>
					<option>Test</option>
					<option>Test</option>
					<option>Test</option>
					<option>Test</option>
					<option>Test</option>
					<option>Test</option>
				</select>
			</div>
		</div>
		<!--Individual Sports Section Ends-->
	</div>
	<!-- Team Info Section Ends-->

	<div id="main-footer-prof-setting">

	</div>
</div>
