<div class="div-levels">
	{{#sport}}
		<div class="org-sport-list-header">
			<div class="sport-name"><img src="{{icon}}" />{{sports_name}}</div>
		</div>
	{{/sport}}
	<div class="well-small span12">
		<!-- class="ddl-school-complevel"-->
		<select class="ddl-complevel" orgsid="{{orgsId}}" sportsid="{{sportsId}}">
			<option value="">Select Level</option>
			{{#levels}}
			<option value="{{complevel_id}}">{{complevel_name}}</option>
			{{/levels}}
		</select>
		<p class="field-error"></p>
		<p class="field-message"></p>
	</div>
	<!-- id="div-school-seasons"-->
	<div class="div-seasons displayNone">
		<div class="arrow-container">
			<a href="javascript:void(0)" class="down arrow">&uarr;</a>
		</div>
		{{#Data}}
		<div class="season-array">
			<div class="year-label">{{year}}</div>

			{{#seasons}}

				<span class="single-season">
					<input type="checkbox" class="chkSeasons chkSeasons-{{season_id}}-{{year}}" seasonId = '{{season_id}}' year='{{year}}' orgsid="{{orgsId}}" sportsid="{{sportsId}}"/>
					<label>&nbsp;{{season_name}} </label>
					<a href="javascript:void(0)" class="btnOpenPositions displayNone" disabled="disabled" >Positions</a>
				</span>

			{{/seasons}}

		</div>
		{{/Data}}
		<div class="arrow-container">
			<a href="javascript:void(0)" class="down arrow">&darr;</a>
		</div>

	</div>
	
	<!--	Modal Section to display positions	-->
	<!--modal-school-positions-->
<div class="modal hide fade position-modal modal-positions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close btn-Close-Positions" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Positions</h3>
</div>
<div class="modal-body modal-position-body">
	
</div>
<div class="modal-footer">
<button class="btn btn-Close-Positions" data-dismiss="modal" aria-hidden="true">Finish</button>
<!--<button class="btn btn-primary btn-Save-Positions">Finish</button> -->
</div>
</div>
</div>

