{{#orgs}}
	<div class="div-sports-wrapper"  orgsId="{{org_id}}">
		<div class="school-sports-section"></div>
	</div>
	<div class="org-sport-list">
		<div class="org-sport-list-header">
			<div class="org-name">{{org_name}}, {{city}}, {{state}}</div>
			{{^single_sport_id}}
			<div class="add-sport"><a class="btn-add-sports" href="javascript:void(0)" orgsId="{{org_id}}">Add Sport</a></div>
			{{/single_sport_id}}
		</div>
		{{#sports}}

			<div class="org-sport-list-header">
				<div class="sport-name"><img src="{{icon}}" />{{sports_name}} - <a href="javascript:void(0)" class="edit-team"  orgsId="{{org_id}}" sportId="{{sports_id}}">Edit</a></div>
			</div>

			<div>
				{{#complevels}}
					{{#seasons}}
				<a href="/#!team/{{team_id}}"><div class="season-list">
						<span>{{complevel}}</span>
						<span>{{season}} {{year}}</span>
						<span>
							{{#positions}}<span class="position-listing">{{name}}</span>{{/positions}}
							{{^positions}}No Positions&nbsp;{{/positions}}
						</span>
				</div></a>
					{{/seasons}}

				{{/complevels}}
			</div>


		{{/sports}}</div>
{{/orgs}}