{{#orgs}}
<div class="div-sports-wrapper">
	
<div class="clearfix">
	<h3>{{org_name}}</h3><a class="btn-add-sports" href="javascript:void(0)" org_id="{{org_id}}">Add Sport</a>
</div>
<div class="school-sports-section">
		</div>
</div>
{{#sports}}
<div class="clearfix">
	<h4> {{sports_name}}</h4>
</div>
<div class="sub-section-prof-setting well well-large">
	{{#complevels}}
	{{#seasons}}
	<div class="row-fluid">
		<span class="span3"><strong>{{season}} {{year}}</strong></span>
		<span class="span3">{{complevel}}</span>
		<span class="span3">
			{{#positions}}
			{{name}}
			{{/positions}}
			
		</span>
	</div>
	{{/seasons}}
	{{/complevels}}
</div>
{{/sports}}
{{/orgs}}