{{#payload}}

{{#user_picture_obj}}


<a href="/#profile/{{payload.id}}" class="image-outer-h">
	<img src="{{user_picture_obj.types.standard_thumb.url}}" alt="{{user_picture_obj.image_title}}"/>
	<div class="action-section">
		<div class="action-block vote" user-id="{{payload.id}}">V</div>
		<div class="action-block follow" user-id="{{payload.id}}">F</div>
	</div>
	<div class="image-detail-view">
		<h6>{{name}}</h6>
		<span>Soccer, Mid fielder</span>
		<span>San {{grad_year}}</span>
	</div>
</a>

{{/user_picture_obj}}

{{^user_picture_obj}}
	<img src="{{image_path}}" alt="{{image_title}}"/>
{{/user_picture_obj}}
{{/payload}}