<div class="menu-outer-h">
<div id="views" class="menu span2">
	<a href="javascript:void(0)" class="menu-link-h"> VIEWS <span class="caret"></span></a>
	<div class="dd menu-detail-h reset-view-area-h">
		<a href="javascript: void(0);" class="btn views-reset-btn-h">Reset</a>
		
		<div class="dropdown">
			<a href="javascript:void(0)"> Browse <span class="caret"></span></a>
			<div class="clearfix"></div>
			<ul class="dropdown-menu" style="display: block; position: relative; margin-bottom:15px;">
				{{#views.browse}}
				<li><a class="browse" data-id="{{value}}" href="javascript:void(0);">{{name}}</a></li>
				{{/views.browse}}
			</ul>
		</div>
		<br />
		<div class="clearfix">
			<a href="javascript:void(0)"> Time <span class="caret"></span></a>
			<div class="clearfix"></div>
			<ul class="dropdown-menu" style="display: block; position: relative;">
				{{#views.time}}
				<li><a class="time" data-id="{{value}}" href="javascript: void(0)">{{name}}</a></li>
				{{/views.time}}
			</ul>
		</div>
	</div>
</div>
<div id="sport" class="menu span2">
	<a href="javascript:void(0)" class="menu-link-h"> SPORT <span class="caret"></span>
	</a>
	<div class="dd menu-detail-h reset-sport-area-h">
		<a href="javascript: void(0);" class="btn sport-reset-btn-h">Reset</a>
		<div class="left text-center">
			<strong>Guys</strong>
			<div id='boys' class="text-left sport-list"></div>
		</div>
		<div class="left text-center">
			<strong>Girls</strong>
			<div id='girls' class="text-left sport-list"></div>
		</div>
		<div class="left text-center">
			<strong>Both</strong>
			<div id='both' class="text-left sport-list"></div>
		</div>
	</div>
</div>
<div id="location" class="menu span2">
	<a href="javascript:void(0)"  class="menu-link-h"> LOCATION <span class="caret"></span></a>
	<div class="dd menu-detail-h reset-location-area-h">
		<a href="javascript: void(0);" class="btn location-reset-btn-h">Reset</a>
		<!--div class="state"></div-->
		<div class="city"></div>
	</div>
</div>
<div class="span5">
	<div class="pull-left m-r-10">SEARCH</div>
	<div class="pull-left">
		<input type="text" id="search"></input>
	</div>
	<div class="pull-left">
		<a id="video" class="searchBtn" data-number="0" href="javascript:void(0)"><i class="icon-facetime-video"></i></a>
		<a id="image" class="searchBtn" data-number="1" href="javascript:void(0)"><i class="icon-picture"></i></a>
		<a id="user" class="searchBtn" data-number="2" href="javascript:void(0)"><i class="icon-user"></i></a>
		<a id="game" class="searchBtn" data-number="3" href="javascript:void(0)"><i class="icon-user"></i></a>
	</div>
</div>
</div>