<div class="demo-select">

</div>
<div class="menu-outer-h">

	<div id="resulttype" class="menu span3">
		<a href="javascript:void(0)" class="menu-link-h restype-link-h"><span class="option-heading-h">Athletes</span>

			<div class="caret-large-container">
				<span class="caret-large"></span>
			</div>
		</a>

		<div class="dd menu-detail-h reset-view-area-h restype-options-h">

			<div class="clearfix"></div>
			<ul class="dropdown-menu" style="display: block; position: relative;">
				<li><a id="user" class="restype" data-number="2" href="javascript:void(0)">Athletes</a></li>
				<li><a id="image" class="restype" data-number="1" href="javascript:void(0)">Images</a></li>
				<li><a id="video" class="restype"  data-number="0" href="javascript:void(0)">Videos</a></li>
				<li><a id="game" class="restype" data-number="3" href="javascript:void(0)">Games &amp; Events</a></li>
			</ul>
		</div>
	</div>
	<div id="sport" class="menu span3">
		<a href="javascript:void(0)" class="menu-link-h sport-link-h">
			<span class="option-heading-h">ALL SPORTS</span>

			<div class="caret-large-container">
				<span class="caret-large"></span>
			</div>
		</a>

		<div class="dd menu-detail-h reset-sport-area-h sports-option-h">
			<!--<a href="javascript: void(0);" class="btn sport-reset-btn-h">Reset</a>-->

			<div class="left text-center">
				<strong>Guys</strong>

				<div id='boys' class="text-left sport-list"></div>
			</div>
			<div class="left text-center">
				<strong>Girls</strong>

				<div id='girls' class="text-left sport-list"></div>
			</div>
			<div class="left text-center">
				<strong>Both</strong>

				<div id='both' class="text-left sport-list"></div>
			</div>
		</div>
	</div>
	<div id="location" class="menu span3">
		<a href="javascript:void(0)" class="menu-link-h location-link-h"> <span class="option-heading-h">ANYWHERE</span>

			<div class="caret-large-container">
				<span class="caret-large"></span>
			</div>
		</a>

		<div class="dd menu-detail-h reset-location-area-h">
			<!--<a href="javascript: void(0);" class="btn location-reset-btn-h">Reset</a>-->
			<!--div class="state"></div-->
			<div class="city"></div>
		</div>
	</div>

	<div id="views" class="menu span2">
		<a href="javascript:void(0)" class="menu-link-h view-link-h"><span class="option-heading-h">ORDER</span>

			<div class="caret-large-container">
				<span class="caret-large"></span>
			</div>
		</a>

		<div class="dd menu-detail-h reset-view-area-h view-options-h">
			

			<div class="dropdown">
				<span> SORT BY</span>

				<div class="clearfix"></div>
				<ul class="dropdown-menu dropdown-menu-alias" style="display: block; position: relative; margin-bottom:15px;">
					{{#views.browse}}
					<li><a class="browse" data-id="{{value}}" href="javascript:void(0);">{{name}}</a></li>
					{{/views.browse}}
				</ul>
			</div>
			<br/>

			<div class="clearfix">
				<span>TIME FRAME</span>

				<div class="clearfix"></div>
				<ul class="dropdown-menu dropdown-menu-alias" style="display: block; position: relative;">
					{{#views.time}}
					<li><a class="time" data-id="{{value}}" href="javascript: void(0)">{{name}}</a></li>
					{{/views.time}}
				</ul>
			</div>
		</div>
	</div>
	<div id="views" class="menu span2" >
		<a href="javascript:void(0)" class="menu-link-h btn-link"><span class="option-heading-h reset-all-btn-h">RESET</span>

			
		</a>
	</div>

	<div class="pull-right search-box">
		<input type="text" id="search" placeholder="SEARCH"/><a>Search</a>
	</div>
</div>