<div class="image-bg">
	<div class="image-controls">
		<ul class="image-actions">
			<li><a href="javascript: void(0);" class="photo-player-tag-photo-h" title="tag photo">Tag Photo</a></li>
			<li><a href="javascript: void(0);" class="photo-player-tag-myself-h" title="tag my self">Tag Myself</a></li>
			<li><a href="javascript: void(0);" class="photo-player-vote-h" title="vote">Vote</a></li>
			<li class="icon-parent"><a href="javascript: void(0);" class="player-share share-on-h" data-share="facebook" title="share on facebook"></a></li>
			<li class="icon-parent"><a href="javascript: void(0);" class="player-share share-on-h" data-share="twitter" title="share on twitter"></a></li>						
			<li class="icon-parent"><a href="javascript: void(0);" class="player-share share-on-h" data-share="gplus" title="share on google plus"></a></li>
			<li class="icon-parent"><a href="javascript: void(0);" class="player-share share-on-h" data-share="tumbler" title="share on tumbler"></a></li>															
			<!--li><div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="box_count"></div></li-->
		</ul>

		<div class="left-arrow-container left-arrow photo-player-back pull-left">
			<a href="javascript: void(0)" class="photo-player-arrow back-arrow-h">
				<img src="http://cdn.athletez.com/resources/img/left_arrow.png" />
			</a>
		</div>
		<div class="right-arrow-container right-arrow photo-player-next pull-right">
			<a href="javascript: void(0)" class="photo-player-arrow next-arrow-h">
				<img src="http://cdn.athletez.com/resources/img/right_arrow.png" />
			</a>	
		</div>
	</div>
	<div id="video_container" class="hidden"><span>Loading Video...</span></div>
	<div class="loading_image"><img src="" class="photo-player-main-image large-image-h" /></div>

	<div class="thumbs-outer">
		<div class="thumbs-inner">
			<ul class="images-list thumb-image-list-h"></ul>
		</div>
	</div>
</div>
