<div class="row-fluid">
    <div class="tags-name">
		    <div class="tag-image-container" {{#_color}}style="background-color:{{_color}}"{{/_color}}>
			    {{#_thumbnail}}<img src="{{_thumbnail}}" class="tag-thumb" />{{/_thumbnail}}
			    {{^_thumbnail}}<div class="tile-text">{{_noicon_text}}</div>{{/_thumbnail}}
			</div>


		<a href="{{_link}}" style="display: inline-block;"><span class="labelSpan">{{{_label}}}</span></a>

	    {{#show_edit}}
	    <div class="deleteTag" title="Delete Tag" data-enttypes-id="{{_enttypes_id}}" data-subject-id="{{_id}}">&times;</div>
	    {{/show_edit}}
    </div>
</div>
