.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	float: none;
	clear: both;
}
.clearfix:after {
	display: block;
	content: ".";
	clear: both;
	font-size: 0;
	line-height: 0;
	height: 0;
	overflow: hidden;
}
.textleft {
	text-align: left;
}
.textright {
	text-align: right;
}
.textcenter {
	text-align: center;
}
.m-r-10 {
	margin-right: 10px;
}
.p-l-20 {
	padding-left: 20px;
}
html, body {
	height: 100%;
}
body {
	margin: 0 auto;
	background: #e0e0e0;
}
#main{
    max-width: 1000px;
    margin: 10px auto;
    min-height: 600px;
}
.template-container {
	background: #FFF;
}
.global-messages, .global-errors, .global-alert {
	display: none;
}
.field-error {
	color: #b94a48;
	display: none;
}
.field-message {
	color: #3a87ad;
	display: none;
}
ul {
	list-style: none;
}
header {
	border-bottom: 1px solid #ccc;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #000;
}
header .logo {
	float: left;
	margin: 6px 0;
}
header a{
    color: white;
}
header .account {
	float: right;
}
header .account #userlogin{
    position: relative;
    top:8px;
}
header #header_logo{
    height: 20px;
}
header .photo {
	float: left;
	margin-right: 10px;
}
header .photo img {
	width: 32px;
}
header .userlinks {
	float: left;
	margin-top: 5px;
}
header .userlinks .dropdown-toggle {
	min-width: 200px;
	font-weight: bold;
	color: #fff;
}
header .userlinks .dropdown-menu {
	left: auto;
	right: 0;
	top: 25px;
}
header .signup-facebook, header .signup-email {
	margin: 0 5px;
}
footer{
    background-color: black;
    height: 50px;
    width: 100%;
    padding:0 !important;
    color: white;
}
footer span{
    position: relative;
    top:15px;
}
#main {
	padding-top: 15px;
	padding-bottom: 15px;
    min-height: 100%;
}
#main .sports-info {
	margin-top: 20px;
}
#main .image {
	float: left;
}
#main .videothumb {
	float: left;
}
#main .roster {
	float: left;
}
#main .video {
	float: left;
}
#main .user-photo img,#main .user-photo a img{
	width: 45px;
	margin-top: 10px;
	margin-right: 10px;
}
.loader {
	background: url(../images/loader/loading.gif) no-repeat;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-position: 50% 0;
}
.image-loading-div {
	position: absolute;
}
.fade-out {
	opacity: 0.5;
}
#Loginview{
    width:500px;
    margin-left:-250px;
    left:50%;
}
#RegModal{
    width:550px;
    left:50%;
    margin-left: -250px;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.displayNone {
	display: none
}
.pointer {
	cursor: pointer;
}
select.displayNone, textarea.displayNone, input.displayNone {
	display: none;
}
input[disabled].hasDatepicker, input[readonly].hasDatepicker {
	background: #FFF;
	cursor: text;
}
.green-left-heading {
	float: left;
	background: #9cca3c;
	color: #FFF;
	padding: 5px 25px;
	text-align: center;
	margin: 10px 0;
    font-family: 'Nunito', "HelveticaNeue", "Helvetica";
    font-size:1em;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-common {
	padding:5px 10px;
	color: #FFF;
	display: inline-block;
}
.default-btn {
	color: rgb(26, 160, 174);	
}
.default-btn:hover, .default-btn:active {
	color: #000000;
}
.validation-btn {
	color: rgb(156, 202, 60);
}
.validation-btn:hover, .validation-btn:active {
	color: yellow;
}
ul li.image{
    padding:10px;
    min-height: 220px;
    
}
div.image-item-container{
    width:220px;
    height: 220px;
    overflow: hidden;
    background-image: url(http://cdn.athletez.com/resources/img/green_loading.gif);
}
div.image-item-container > img{
    position: absolute;
    min-width: 220px;
    min-height: 220px;
}
.action-section{
    width:100%;
    position:absolute;
    top:0px;
}
.action-block{
  
    margin:8px;
    display: block;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -ms-transition: opacity .3s;
    color: white;
    font-size: 1.1em;
    text-align: center;
    padding:5px;
}
.action-block.left-block{
    float:left;
}
.action-block.right-block{
    float:right;
}
.action-block.vote{
    background-color:#33aeab;
}
.action-block.follow{
    background-color: #9dca3c;
}
.action-block.edit{
    background-color:#d36011;
}
.action-block.delete{
    background-color: #4b3ec6;
}
.action-block span{
    vertical-align: middle;
}
.image-outer-h {
	position: relative;
	display: block;
	overflow: hidden;
}
.detail-view{
    position: absolute;
    bottom: -92px;
    height: 92px;
    transition: bottom .3s linear;
    -webkit-transition: bottom .3s linear;
    -moz-transition: bottom .3s linear;
    -o-transition: bottom .3s linear;
    -ms-transition: bottom .3s linear;
    background: rgba(157, 202, 60, .75);
    width: 220px;
    color: white;
    text-wrap: normal;
    text-overflow: ellipsis;
}
.detail-view a{
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.detail-view.game {
    bottom: -120px;
    height: 120px;
}
.detail-view.game h6{
    width:100%;
    margin: 15px 8px 8px 8px;
    font-size: 1.2em;
}
.detail-view.game span.team{
}
.detail-view.game span.team:last-child:after{
    content : '';
}
.detail-view h6{
    margin: 15px 8px 8px 8px;
    text-transform:uppercase;
    font-size: 1.4em;
}
.detail-view span{
    margin: 10px 8px 8px 8px;
    font-size: .8em;
}
input {
	background: #CCCCCC;
	color :#000;
}
.region-light {
	background:#B5B9BE;
	color: #FFF;
	padding: 5px 10px;
}
.region-dark {
	background:#6b6e71;
	color: #FFF;
	padding: 5px 1%;
	font-size: 1.125em;
	text-align: center;
}
.dropdown-wrapper {
	width: 300px;
	position: relative;
}
.dropdown-container {
	background: #CCCCCC;
	display: inline-block;
	width: 80%;
	position: absolute;
	z-index: 1000;
	
}
.increase-dropown-zindex {
	z-index: 2000 !important;
}
ul.common-dropdown {
	display: block;
	max-height: 200px;
	overflow-y: auto;
	background: #FFF;
	margin: 0 10px;
	display: none;
	clear: both;
	margin-bottom: 10px;
	margin-top: 10px;
}
ul.common-dropdown li a {
	background: none;
	display: inline-block;
	color: #000;
	width: 100%;
}
ul.common-dropdown li a:hover {
	text-decoration: none;
}
ul.common-dropdown li {
	text-align: center;
	padding: 3px 0px;
	margin: 3px 5px;
}
ul.common-dropdown li.selected a {
	color: #FFF;
}
.drop-down-outer {
	width: 100%;
	height: 30px;
}
.dropdown-header-box {
	width: 72%;
	float: left;
	display: inline-block;
		white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}
.down-arrow-outer {
	background: rgb(65, 67, 70);
	display: inline-block;
	width: 26%;
	float: right;
	height: 100%;
	text-align: center;
	color: #FFF;
}
.down-arrow-outer a {
	display: block;
	height: 100%;
	font-family: "HelveticaNeue Medium";
}
.down-arrow-outer a span {
	margin-top: 5px;
}
ul.common-dropdown li:first-child {
	margin-top: 10px;
}
ul.common-dropdown li:last-child {
	margin-bottom: 10px;
}
ul.common-dropdown li.selected {
	background: #1aa0ae;
}
.drop-down-main-outer {
	width: 250px;
	display: inline-block;
}
#sports-info {
	margin-bottom: 20px;
}
	
.ui-autocomplete-input {
	background: #eaedf1 !important;
	color: #000000 !important;
}
ul.ui-autocomplete {
	border: 2px solid #b5b9be;
	padding: 10px 0 !important;
	background: rgb(255, 255, 255) !important;
    z-index: 1060;
}
.ui-autocomplete-loading{
    background-image: url(http://athletez.s3.amazonaws.com/resources/img/gray_loading.gif) !important;
    background-repeat: repeat;
}
.ui-autocomplete li.ui-menu-item {
	color: #000 !important;
	width: auto !important;
	padding: 0 !important;
	
	background: rgb(255, 255, 255) !important;
}
.ui-autocomplete li.ui-menu-item a {
	padding: 5px 0 5px 15px !important;
	border-radius: 0;
}
span.ui-helper-hidden-accessible {
	display: none;
}
.ui-menu .ui-menu-item a:hover, .ui-state-focus {
	color: #FFF !important;
	background: #1AA0AE !important;
	border: none !important;
}
.bubble{
    position: relative; left: 100px; margin-top:5px;
    background: #fff; border: solid 0; background-color: rgb(229, 229, 229);
    width: 86%; min-height: 65px;
    -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;
}
.bubble .content{
    position: relative;
    padding:10px;
    z-index:1;
}
.bubble .content span.comment-date{
    font-family: inherit;
    font-weight: bold;
    color:#818181;
    font-size: .8em;
    display: block;
}
.bubble .content p.comment-text{
    font-family: inherit;
    font-weight: normal;
    font-size: .9em;
    padding:4px;
}
.pointer{
    content: "";
    position: absolute;
    bottom:16px; left:-40px;
    display: block; width: 0; z-index: 0;
    border-color: transparent rgb(229, 229, 229); border-style: solid; border-width: 18px 77px 18px 0;
    -webkit-transform: rotate(-25deg); -ms-transform: rotate(-25deg); transform: rotate(-25deg);
}
.see-more-h {
	float: right;
    margin: 0 40px 30px 0;
    color: #333;
}
#comment_div {
	text-align: right;
    margin-right: 30px;
}
.comment-outer-h {
    
}
.comment .user-photo {
    width:50px;
    height: 50px;
}
.comment .user-photo {
	font-size: 10px;
	line-height: 12px;
}
.comment .user-photo img, .comment .user-photo a img{
    width:100% !important;
    height: 100%;
    margin-top:5px !important;
    top:20px;
    position: relative;
}
.add-comment-form-h{
    width: 100%;
}
.add-comment-form-h textarea{
    padding:10px;
}
a.comment-delete{
    float: right;
    top: 10px;
    position: absolute;
    right: 10px;
}
#complevel-list, #sport-list {
	display: inline-block;
}
.team-template-outer .profile-heading {
	background: #4b3dc6;
	color:#FFF;
}
.team-template-outer .profile-heading *{
    color:#fff;
}
.profile-heading {
	background: #9cca3c;
	color: #000;
	padding: 10px 10px 0 10px;
}
.profile-heading h3 {
	font-weight: bold;
	font-size: 50px;
	line-height: 30px;
}
.profile-heading h4 {
	font-weight: bold;
	font-size: 30px;
	line-height: 38px;
}
.profile-heading div.sports-h{
    display:block;
    float:right;
}
.profile-heading div.sports-h img{
    max-width: 70px;
    max-height: 50px;
}
#main-header, .profile-comment-list-box, .template-container {
		background: #FFF;
}
#main {
    padding-bottom: 0;
}
.profile-pic-outer {
	margin: 40px 15px;
}
.profile-comment-list-box #comment-list {
	margin-left: 50px;
}
.profile-comment-list-box #comment-list li {
	padding-bottom: 10px;
}
.user-photo {
	float: left;
}
.comment-box {
	margin-left: 5%;
	float: left;
	width: auto;
	color: #000;
	background: #e0e0e0;
	border-radius: 10px;
	width: 70%;
	padding: 5px 20px
}
.comment-box span {
	color: #8c8c8c;
	font-weight: bold;
}
#add-media {
	float: right;
	margin-right: 20px;
}
.border-right {
	border-right: 1px solid #000;
}
#fitnessbasic-list {
	margin: 0;
}
#fitnessbasic-list li, .stats-ul li {
	float: left;
	width: 100%;
	text-align: left;
}
.fitness-overview-data-piece{
    width:30%;
    display:inline-block;
    float:left;
    height:30px;
    margin:15px 20px 30px 30px;
}
.fitness-overview-data-piece img{
    width:40px;
    height: 40px;
}
.stats-panel{
    background-color:#e0e0e0;
    padding:0;
    width:35%
}
.stats-header{
    background-color:#b9b9ba;
    font-family: 'Nunito','HelveticaNeue';
    font-weight: bold;
    font-size: 1.7em;
    padding:10px;
}
.game-box-outer {
    background-color: #e0e0e0;
    border-radius: 40px;
    width: 85%;
    padding: 20px 25px;
    margin: 0px 5% 48px 5%;
}
#games_div {
	float: left;
	width: 100%;
	text-align: left;
}
span.team-label{
    display: inline-block;
    margin-left:100px;
    font-family: 'Nunito','HelveticaNeue';
    font-weight: bolder;
    font-size: 1.1em;
}
.game-box-outer ul {
    background: #bbbbbc;
    border-radius:5px;
    height: 8px;
}
.game-box-outer li {
    position:relative;
    display: inline-block;
    margin-left:20px;
    border-radius: 0;
    top:-4px;
}
.game-box-outer li a {
    padding:1px 10px 0px 10px;
    border-radius: 25px;
    border: 5px solid #bbbbbc;
    color: #FFF;
    position: relative;
}
.game-box-outer li a.win{
    background-color: #dc6526;
}
.game-box-outer li a.loss{
    background-color: #555ad1;
}
.game-box-outer li a.no-score{
    background-color: #bbbbbc;
}
.background-blue {
	background: #555ad1;
}
.background-orange {
	background: #dc6526;
}
.org-popup {
	position: absolute;
	bottom: 34px;
	background: #CCC;
	width: 325px;
	z-index: 3;
	left: -155px;
}
@keyframes blink {  
    0% { background: #000; }
    100% { background: #FF0; }
}
@-webkit-keyframes blink {
     0% { background: #000; }
    100% { background: #FF0; }
}
@-moz-keyframes blink {
    0% { background: #000; }
    100% { background: #FF0; }
}
.newly-added-comment {
    -webkit-animation: blink 1s ease-in-out 1;
    -moz-animation: blink 1s ease-in-out 1;
    animation: blink 1s ease-in-out 1;
} 
#new-comment {
	width: 65%;
}
.org-popup ul li {
	width: 100%;
	font-size: 10px;
	padding-bottom: 5px;
}
.org-popup ul {
	margin: 0;
	padding: 10px;
}
.image-list video {
	width: 97%;
	height: 100%;
}
.sport-select-box {
	display: inline-block;
}
#sports-info {
	margin-left: 0;
}
#sports-info ul#sport-list{
    margin:0 0 0 0;
}
#sports-info ul#sport-list .sport:hover{
    background:none;
}
#sports-info ul#sport-list .sport a{
    color:#333;
    font-size: .9em;
}
.modal-body {
    position: absolute;
    height: 90%;
	width: 96%;
    padding: 0;
}
div.game-info{
    top:-80px;
 
    width:400px;
    height:45px;
    background-color: white;
    position: absolute;
    float: left;
    color:#333;
    box-shadow:10px 10px 5px #333;
}
.btn-green{
	color:#FFF;	
	border-radius: 0px;
	box-shadow : 2px 2px 2px #84A934;
	font-size:14px;
	font-weight:bold;
background: #9cca3c; 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzljY2EzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NGE5MzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #9cca3c 0%, #84a934 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9cca3c), color-stop(100%,#84a934)); 
background: -webkit-linear-gradient(top,  #9cca3c 0%,#84a934 100%); 
background: -o-linear-gradient(top,  #9cca3c 0%,#84a934 100%); 
background: -ms-linear-gradient(top,  #9cca3c 0%,#84a934 100%); 
background: linear-gradient(to bottom,  #9cca3c 0%,#84a934 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cca3c', endColorstr='#84a934',GradientType=0 ); 
padding:4px 10px;
	
}
.btn-primary{
	color:#FFF;	
	border-radius: 0px;
	box-shadow : 2px 2px 2px #84A934;
	font-weight:bold;
	font-size:14px;
	padding:4px 10px;
background: #9cca3c; 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzljY2EzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NGE5MzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #9cca3c 0%, #84a934 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9cca3c), color-stop(100%,#84a934)); 
background: -webkit-linear-gradient(top,  #9cca3c 0%,#84a934 100%); 
background: -o-linear-gradient(top,  #9cca3c 0%,#84a934 100%); 
background: -ms-linear-gradient(top,  #9cca3c 0%,#84a934 100%); 
background: linear-gradient(to bottom,  #9cca3c 0%,#84a934 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cca3c', endColorstr='#84a934',GradientType=0 ); 
	
	
}
.btn-primary:active,.btn-primary:hover,
.btn-green:active,.btn-green:hover{
	background: #84a934; 
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzljY2EzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NGE5MzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #84a934 0%, #9cca3c 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84a934), color-stop(100%,#9cca3c)); 
background: -webkit-linear-gradient(top,  #84a934 0%,#9cca3c 100%); 
background: -o-linear-gradient(top,  #84a934 0%,#9cca3c 100%); 
background: -ms-linear-gradient(top,  #84a934 0%,#9cca3c 100%); 
background: linear-gradient(to bottom,  #84a934 0%,#9cca3c 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84a934', endColorstr='#9cca3c',GradientType=0 ); 
}
.add-game-modal{
    height:75%;
    max-height: 500px;
    width:550px;
    left:50%;
    margin-left: -275px;
}
.container_add_game{
	font-size:12px ;
	
}
.container_add_game select {
	background-color: #6B6F72;	
	color:#FFF;
}
.container_add_game input[type='text']{
	background-color: #EAEDF2;
	width: 210px;
}
.container_add_game a{
	
	cursor:pointer;
}
.container_add_game input[type="text"].txt-score-team_h {
	width:25px;
	margin-bottom: 0;	
}
.container_add_game .section-game-radio_h {
	
	padding:4px 0 0 0;
	margin-top: 5px;
	
}
.container_add_game .section-new-team_h{clear:both} 
.container_add_game .section-score_h {
	float: left;
    width: 100px;
	
}
.container_add_game .section-game-teams_h{
    float: left;
    width: 100%;
    margin: 10px 0;
   }
.container_add_game .field-message{
	color:#77011C;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	background-color: transparent;
	float:left;
}
.container_add_game .green-left-heading{
	margin: 8px -20px;
	padding: 4px 15px;
}
.container_add_game input[type="radio"],
.container_add_game input[type="checkbox"] {
    margin: 0;
}
.container_add_game .score-box a {
	width: 100%;
	height: 100%;
	display: inline-block;
}
 .container_add_game .ul.ui-autocomplete{
 	 padding: 0 2px !important;
 	
 }
.container_add_game .ui-autocomplete li.ui-menu-item {
	font-size: 14px;
}
.container_add_game input.txtDate, .modal-body .update-date-time-h input.txtDate{
width: 90px;	
float:left;
}
.container_add_game input.txtTime, .modal-body .update-date-time-h input.txtTime{
	float:left;
	width:40px;
	margin-left: 4px;
    margin-right: 4px;
}
.container_add_game .ddlTime, .modal-body .update-date-time-h .ddlTime{
	width:50px;
	float:left;
	margin-left:8px;
}
.container_add_game .section-score_h{
	margin-top: 4px;
    padding: 4px 0 0;
}
.container_add_game .dropdown-container {
	z-index: 0;
	width:98%
}
.container_add_game .dropdown-wrapper{
	width:224px;
}
.container_add_game [class*="span"] {
	margin-left: 0px;
	
}
.container_add_game .span_ddl_team_h{
	margin-bottom: 14px;height: 15px;
}
.container_add_game .btn-new-team-game_h{
	display:none !important;
}
.container_add_game .span_ddl_team_h .dropdown-wrapper{
	width:500px;
} 
.container_add_game .section-new-team_h input[type="text"]{
	width:480px;
}
.container_add_game .spn-ddl-time-period_h .region-dark{
	padding: 4px 1%;
}
.spn-ddl-time-period_h .dropdown-wrapper{
	width:75px;
}
.container_add_game .spn-ddl-time-period_h .drop-down-outer{
	height: 28px;
}
.container_add_game .section-individual-game_h{
margin-top:10px;	
}
.ui-datepicker{
	z-index: 5000 !important;
}
.container_add_game .indicator_h{
	height:16px;width:16px; display: inline-block;  margin-left: 4px; 
}
.valid{
	background : url(images/validS.png) no-repeat;
}
.invalid{
	background : url(images/invalidS.png) no-repeat;
}
.image-tagging .div_select_all {
	height:100%;
}
.image-tagging .center{
	
}
#map-canvas {
	width: 80%;
	height: 300px;
	margin-top: 30px;
}
.link-disabled {
	opacity: 0.5 !important;
	pointer-events: none !important;
}
.disable-arrow-link {
	opacity: 0.1;
	pointer-events: none;
}
#logincontainer{
    margin: auto;
    width:85%;
}
#logincontainer *{
    font-size:1em;
}
#regcontainer *{
}
#imgpreview .selected{
	border:2px solid #954121;
}
.search-result-outer {
}
.home-page-arrow {
	position: absolute;
}
.left-arrow-page {
	left: 0;
	margin-top: 30%;
}
.right-arrow-page {
	right: 0;
	margin-top: 30%;
}
.m_top_50{margin-top:50px;
	}
.m_top_20{
	 margin-top: 20px;
}
.m_bottom_10{
	margin-bottom: 10px;
}
.container_batch_tag{
	text-align: left;
	
}
.container_batch_tag h4{
	font-size: 25px;
	color : #888888;
}
.container_batch_tag .field-message{
	background-color: rgba(0, 0, 0, 0);
    border: medium none;
    color: #77011C;
    float: left;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 100%;
}
.container_batch_tag .margin{margin:4px 0;}
.container_batch_tag input[type="text"]{margin:4px 0;}
.container_batch_tag .section_inner{margin:5px 0;float: left;}
.container_batch_tag .section_outer{margin:5px 0;float: left;}
.bigger{font-size : 20px;}
.image-drop-area {
	border: 2px dashed #000;
	width: 200px;
	text-align: center;
	height: 220px;
	background: #CCCCCC;
	float: right;
	margin-right: 20px;
}
.circle
{
    margin:-190px 30px 30px 30px;
    width:130px;
    height:130px;
    border-radius:50%;
    border:15px solid #fff;
    font-size:50px;
    background-color:transparent;
    opacity:.2;
}
.circle:hover{ opacity:.4; }
.play{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px 0 50px 86.6px;
    border-color: transparent transparent transparent #fff;
    position: relative;
    left: 50%;
    top: 50%;
    margin-top: -51px;
    margin-left: -32px;
}
.container_batch_tag .dropdown{height:30px;margin:5px 0}
.image-drop-area .drop-text {
	margin-top: 25%;
}
#addPhoto, #addVideo, .add-comment-h{
    background-repeat: no-repeat;
    padding:0 0 0 35px;
    color:#333;
    display: inline-block;
    min-height: 25px;
    margin-left:15px;
}
#addPhoto{
    background-image: url('http://cdn.athletez.com/resources/img/photo.png');
}
#addVideo{
    background-image: url('http://cdn.athletez.com/resources/img/video.png');
}
.add-comment-h{
    background-image: url('http://cdn.athletez.com/resources/img/comment.png');
}
.display_none_important{
	display : none !important;
}
.complevels-container {
	height: 210px;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.complevels-inner {
	position: absolute;
	width: 100%;
}
.season-array {
	height: 70px;
}
.remove-item {
	opacity: 0.5;
	pointer-events: none;
}
