
/* Profile Page Styles */

.teamlist-header{
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    color:#333;
}

.team-item{
    padding-left:25px;
    width: 90%;
    display: block;
}

#votes-area-h{
    position:relative;
    top:-40px;
}
#votes-area-h a{
    display: inline-block;
    padding:4px;
    margin:5px;

    color:white;
}

