<!--<h1>Auth module using the ORM driver for Kohana 3.1</h1>-->

<div id="regcontainer">
	<div id="loginmain">
		<div id="mainreg">
			<div id="fbpane">
				<div id="label">
					Connect with Facebook
				</div>
				<div id="fblogo"><span></span></div>
			</div>
			<div class ="regor">
				or
			</div>
			<div id="regpanemain">	
				<form action="/user/login" method="post" accept-charset="utf-8" id="login">
					<div id="firstregbase">
						<!--<div class="loginbase">
							<!--<label for="username">Email</label>-->
							<input type="email" name="username" placeholder="Email Address" />
							<!--<label for="password">Password</label>-->
							<input type="password" name="password" placeholder="Password" />
							<div class="loguser">
								<input type="checkbox" checked="checked" name="remember" />
								<label for="remember">Remember me for 2 weeks</label>
							</div>	
						<!--</div>-->	
						<div class="errormsg"></div>
						
						<button type="button" class=" loginUser btn btn-primary">Login</button>
						<div class="addsub">
							<button type="button"  class="forgot-password-h btn btn-info btn-sm btn-custom" >Forgot My Password</button>
							
							<button type="button"  id= "signup" class=" btn btn-info btn-sm btn-custom" >create a new account</button>
							
						</div>				
					</div>
					
					
				</form>
				
			</div>
			
	
		</div>

	</div>
	
</div>

<div class="forgot-password-container hide">
	<div class="success-message hide">Password Reset link has been sent to your email address. Please check.</div>
	<div class="error-message errormsg hide">Sorry we couldn't find the match record. Please try again with valid Email.</div>	
	<form action="" method="POST" class="forgot-password-form-h">
		<!--<label for="">Email</label>-->
		<div id="firstregbase">
			<input type="email" name="forgot_password_email" class="forgot-password-email-h" placeholder="Email Address" />
			<button type="submit" name="forgot-password-btn" class="forgot-pasword-btn-h btn btn-default addsub" > Request Password </button>
			<button type="button" class="log-in-link-h btn btn-default btn-sm addsub" >&nbsp;Log In &nbsp;</button>
		</div>
		<!--<br/>
		<input type="submit" name="forgot-password-btn" class="forgot-pasword-btn-h btn btn-default" value="Request Password" />
		<br/><br/>!-->
		<!--<p><a class="log-in-link-h" href="javascript: void(0);"> Log In</a></p>-->
	</form>
</div>