<div id="logincontainer">
<form action="/user/login" method="post" accept-charset="utf-8">
<label for="username">Username</label><input type="text" name="username" value="teset" />
<label for="password">Password</label><input type="password" name="password" />
<label for="remember">Remember Me</label><input type="checkbox" name="remember" />
<p>(Remember Me keeps you logged in for 2 weeks)</p>
<div class="errormsg"></div>
<input type="submit" name="login" class="loginUser" value="Login" /></form>

<p>Or <a id= "signup" href="#">create a new account</a></p>
</div>
</div>