{{#old_ie}}
	<div class="curr-browser"><img src="http://cdn.athletez.com/resources/img/ie.png" /></div>
	<div class="notify-text">It appears you're using an old version of IE ({{current_version}}).  Unfortunately our site is still in beta and we are not yet supporting versions older than IE 10.<br/><br/>If you're on Windows XP and are unable to upgrade to this version, please consider using Google Chrome, which is an outstanding browser that I recommend not just for this website, but for all websites.</div>
	<div id="recommendations">
		<span class="largeText">Here are the browsers we recommend (in order of preference)</span>
		<div class="r-item"><a href="https://www.google.com/intl/en/chrome/browser/" target="_blank"><img src="http://cdn.athletez.com/resources/img/chrome.png" /><br/>Chrome 30+</a></div>
		<div class="r-item"><a href="http://support.apple.com/downloads/#safari" target="_blank"><img src="http://cdn.athletez.com/resources/img/safari.png" /><br/>Safari 5+</a> </div>
		<div><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank"><img src="http://cdn.athletez.com/resources/img/ff.png" /><br/>Firefox 25+</a></div>
	</div>
{{/old_ie}}
{{#old_ff}}
	<div class="curr-browser"><img src="http://cdn.athletez.com/resources/img/ff.png" /></div>
	<div class="notify-text">It appears you're using an old version of Firefox ({{current_version}}).  Unfortunately our site is still in beta and we are not yet supporting versions older than Firefox 25.  Please consider using Google Chrome, which is an outstanding browser that I recommend not just for this website, but for all websites.<br/><br/>You can disregard this message and try to use the site, but annoying stuff is going to happen and it will make you angry and us embarrassed.</div>
	<div id="recommendations">
		<span class="largeText">Here are the browsers we recommend (in order of preference)</span>
		<div class="r-item"><a href="https://www.google.com/intl/en/chrome/browser/" target="_blank"><img src="http://cdn.athletez.com/resources/img/chrome.png" /><br/>Chrome 30+</a></div>
		<div class="r-item"><a href="http://support.apple.com/downloads/#safari" target="_blank"><img src="http://cdn.athletez.com/resources/img/safari.png" /><br/>Safari 5+</a> </div>
		<div><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank"><img src="http://cdn.athletez.com/resources/img/ff.png" /><br/>Firefox 25+</a></div>
	</div>
{{/old_ff}}
{{#mobile}}
	<div class="curr-browser"><img src="http://cdn.athletez.com/resources/img/mobile.png" /></div>
	<div>Looks like you're on a mobile browser.  Though it's high up on our priority list, Athletez is still in beta and we don't yet have support for mobile devices.  So trying to navigate on your phone will drive you insane.  If you don't want to go insane, maybe hold off on trying out Athletez until you get home.</div>
{{/mobile}}

<div style="float: left; margin: 10px;">Sorry for the inconvenience,<br/>Mike &amp; Max</div>