<div class="template-container home-template">
	<div id="main-header"></div>
	<div id="main-content" class="row-fluid">
		<div class="green-left-heading desktop-link">
			Top Rated Profiles
		</div>
		<div id="top-rated" class="p-l-20 clearfix clear"></div>
		<div class="green-left-heading desktop-link">
			Find Content
		</div>
		<div id="menu" class="p-l-20 clear"></div>
		<div class="search-result-outer">

			<div id="search-result" class="p-l-20 clear"></div>
		</div>
	</div>
	<div data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}" class="uk-width-1-2 uk-container-center"><div style="text-align: center;" class="uk-panel uk-panel-box">loading more...</div></div>
	<div id="main-footer"></div>
</div>