<div class="demo-select">

</div>

<h4 class="mobile-link home-page-heading">
	Search Athletez.com for...
</h4>


<div class="fixed-icons">
	<ul>
		<li><a id="image" class="icons restype photos" data-tip-style="qtip-athletez qtip-photo" data-selected-class="photos_selected icon_selected" data-number="1" title="Find Images" href="javascript:void(0);">
			<span class="mobile-link under-text under-text-h">images</span></a>
		</li>
		<li><a id="video" class="icons videos restype" data-tip-style="qtip-athletez qtip-video" data-selected-class="videos_selected icon_selected" title="Show Videos" data-number="0" href="javascript:void(0);">
			<span class="mobile-link under-text under-text-h">videos</span></a>
		</li>
		<li><a  id="user" class="icons athlete restype" data-tip-style="qtip-athletez qtip-athlete" data-selected-class="athlete_selected icon_selected" data-number="2" title="Search for an Athlete" href="javascript:void(0);">
			<span class="mobile-link under-text under-text-h">athletes</span></a>
		</li>
		<li><a id="org" class="icons team restype" data-tip-style="qtip-athletez qtip-team" data-selected-class="team_selected icon_selected" data-number="4" title="Find a Team" href="javascript:void(0);">
			<span class="mobile-link under-text under-text-h">teams</span></a>
		</li>
		<li><a id="game" class="icons events-games restype" data-tip-style="qtip-athletez qtip-game" data-selected-class="events-games_selected icon_selected" data-number="3" title="Search for Games, Events, or Matches" href="javascript:void(0);">
			<span class="mobile-link under-text under-text-h">events</span></a>
		</li>
	</ul>
</div>


<div class="clearfix"></div>


<h4 class="mobile-link home-page-heading">
	Filter Results By:
</h4>


<div class="menu-outer-h">

	<!--div id="resulttype" class="menu span3">
		<a href="javascript:void(0)" class="menu-link-h restype-link-h"><span class="option-heading-h">Athletes</span>
			<div class="caret-large-container">
				<span class="caret-large"></span>
			</div>
		</a>

		<div class="dd menu-detail-h reset-view-area-h restype-options-h">


			<ul class="dropdown-menu" style="display: block; position: relative;">
				<li><a id="user" class="restype" data-number="2" href="javascript:void(0)">Athletes</a></li>
				<li><a id="image" class="restype" data-number="1" href="javascript:void(0)">Images</a></li>
				<li><a id="video" class="restype"  data-number="0" href="javascript:void(0)">Videos</a></li>
				<li><a id="game" class="restype" data-number="3" href="javascript:void(0)">Games &amp; Events</a></li>
				<li><a id="org" class="restype" data-number="4" href="javascript:void(0)">Teams</a></li>
			</ul>
		</div>
	</div-->
	
	<!--div class="menu individual-reset-btn">
		<a href="javascript:void(0)" class="menu-link-h btn-link reset-option-btn-h hide" data-type="restype"><span class="option-heading-h" style="text-decoration: underline;">RESET</span></a>
	</div-->
	
	<div id="sport" class="menu span3">
		<a href="javascript:void(0)" class="menu-link-h sport-link-h" title="Use this menu to filter the results to only show a specific sport.">
			<span class="option-heading-h">ALL SPORTS</span>

			<div class="caret-large-container">
				<span class="caret-large"></span>
			</div>
		</a>

		<div class="dd menu-detail-h reset-sport-area-h sports-option-h">
			<!--<a href="javascript: void(0);" class="btn sport-reset-btn-h">Reset</a>-->
			<div class="left text-center">
				<strong>Guys</strong>
				<div id='boys' class="text-left sport-list"></div>
			</div>
			<div class="left text-center">
				<strong>Girls</strong>
				<div id='girls' class="text-left sport-list"></div>
			</div>
			<div class="left text-center">
				<strong>Both</strong>
				<div id='both' class="text-left sport-list"></div>
			</div>
		</div>
	</div>
	
	<div class="menu individual-reset-btn">
		<a href="javascript:void(0)" class="menu-link-h btn-link reset-option-btn-h hide" data-type="sport"><span class="option-heading-h">&times;</span></a>
	</div>

	<div id="location" class="menu span3">
		<a href="javascript:void(0)" class="menu-link-h location-link-h" title="Filter the results by location.  You can search for a state or a city in the United States and the results will be narrowed to that location."> <span class="option-heading-h">PLACE</span>
			<div class="caret-large-container">
				<span class="caret-large"></span>
			</div>
		</a>

		<div class="dd menu-detail-h reset-location-area-h no-padding">
			<!--<a href="javascript: void(0);" class="btn location-reset-btn-h">Reset</a>-->
			<!--div class="state"></div-->
			<div class="city"></div>
		</div>
	</div>
	
	<div class="menu individual-reset-btn">
		<a href="javascript:void(0)" class="menu-link-h btn-link reset-option-btn-h hide" data-type="city"><span class="option-heading-h">&times;</span></a>
	</div>

	<div id="views" class="menu span2">
		<a href="javascript:void(0)" class="menu-link-h view-link-h" title="Choose how you want your results ordered."><span class="option-heading-h">ORDER</span>
			<div class="caret-large-container">
				<span class="caret-large"></span>
			</div>
		</a>

		<div class="dd menu-detail-h reset-view-area-h view-options-h">
			<div class="dropdown">
				<span> SORT BY</span>

				<div class="clearfix"></div>
				<ul class="dropdown-menu dropdown-menu-alias" style="display: block; position: relative; margin-bottom:15px;">
					{{#views.browse}}
					<li><a class="browse" data-id="{{value}}" href="javascript:void(0);">{{name}}</a></li>
					{{/views.browse}}
				</ul>
			</div>
			<br/>

			<div class="dropdown">
				<span>TIME FRAME</span>
				<div class="clearfix"></div>
				<ul class="dropdown-menu dropdown-menu-alias" style="display: block; position: relative;">
					{{#views.time}}
					<li><a class="time" data-id="{{value}}" href="javascript: void(0)">{{name}}</a></li>
					{{/views.time}}
				</ul>
			</div>
		</div>
	</div>
	
	<div class="menu individual-reset-btn">
		<a href="javascript:void(0)" class="menu-link-h btn-link reset-option-btn-h hide" data-type="views"><span class="option-heading-h">&times;</span></a>
	</div>
	
	<!--div id="reset" class="menu span2">
		<a href="javascript:void(0)" class="menu-link-h btn-link"><span class="option-heading-h reset-all-btn-h">&times;</span></a>
	</div-->

	<div class="pull-right search-box">
		<input type="text" id="search" placeholder="SEARCH" style="height: 28px; margin:0px 5px;;"/><a href="javascript:void(0);" class="common-btn common-default-sky-dark common-btn-small">SEARCH</a>
	</div>
</div>