 <div id="regcontainer">
    <div id="mainregimg">
      <div id="header">
      <span class="regheader"> Upload a user pic</span>
    </div>
      <div id="imgcontainer" class="imgcontainer">
       
        <div class="textcenter pane" id="imgpreview" >
          <img id="image-select" style="max-height: 245px; max-width: 320px;" />
            <div class="coords" style="display:none;">
                <div>crop x <input name="crop-x" type="hidden" /></div>
                <div>crop y <input name="crop-y" type="hidden" /></div>
                <div>crop width <input name="crop-width" type="hidden" /></div>
                <div>crop height <input name="crop-height" type="hidden" /></div>
                <div>image width <input name="image-width" type="hidden" /></div>
                <div>image height <input name="image-height" type="hidden" /></div>            
            </div>
        </div>
        <div id="imguploader" class="imguploader">
          <input type="file" name= "preview" id="preview">
        </div>
        <div class="inputmask">
          <div class="selectlabel">Select File</div>
          <div class="showselected"></div>
        </div>  

        <div id="imgupload"  class="imgupload">
          <input type="submit" name="imgup" id="crpimgup" value="Crop and save" class="imgup" />    
        </div>
        
      </div>
    </div>  
  </div>   