<style type="text/css">
		
		
	</style>

<!--<h1>Auth module using the ORM driver for Kohana 3.1</h1>-->

<div id="regcontainer">
	<div id="mainreg">
		<div id="header">
			<span class="regheader"> Show us what you got</span>
		</div>

		<div id="fbpane">
			<div id="label">
				Register with facebook
			</div>
			<div id="fblogo"><span></span></div>
		</div>
		<div id="regor">
			or
		</div>
		<div id="regpane">
			<form action="#/user/create" method="post" accept-charset="utf-8">
				<div id="firstreg">
				<input type="text" name="firstname" placeholder="First name" />
				<div class="error">
				</div>
				<input type="text" name="lastname" placeholder="Last name" />
				<input type="text" name="email" placeholder="Email" />
				<div class="error">
				</div>
				</div>
				<input type="submit" name="create" value="Sign Up" class="regsubmit" />
			</form>
			<%  if(!onlyRegister) { %>
			
				<div id="reglogin">
				<span>Been here before <a href="#">sign in</a></span>
				</div>
				
			<% } %>	
			
		</div>
	</div>
</div>

