{{#payload}}
		<div id="edit_profile_info_section">
			<div><span>First Name: </span><input type="text" id="txt_user_first_name" model-property="firstname" value="{{first_name}}" /></div>
			<div><span>Last Name: </span><input type="text" id="txt_user_last_name" model-property="lastname" value="{{last_name}}" /></div>
			<div><span>Height (in):</span><input type="text" id="txt_user_height" model-property="height_in" value="{{height_in}}" /></div>
			<div><span>Weight (lbs)</span><input type="text" id="txt_user_weight" model-property="weight_lb" value="{{weight_lb}}" /></div>
			<a href="javascript:void(0);" class="resume_button" id="save_user_data">Save</a>
		</div>
{{/payload}}