<div class="row-fluid">
	<span class="green-left-heading">Clubs</span>
</div>
<div><a class="add-club-h" href="javascript: void(0);">Add a New Club</a></div>
<div id="btn-Add-club" class="div-add-dotted">
	+ Add a Club
</div>
<div id="section-Add-Sports-club" class="displayNone add-org-fields">
<div>
	<span class="span2">What State?</span>
	<input type="text" id="txt-club-state" placeholder="Just Start Typing" tabindex="0"/>
	<p class="field-error"></p>
	<p class="field-message"></p>
</div>

<div>
	<span class="span2">What Club?</span>
	<input type="text" id="txt-club-club" placeholder="Just Start Typing" disabled="disabled" tabindex="1"/>
	<p class="field-error"></p>
	<p class="field-message"></p>
</div>
<div class="div-sports-wrapper displayNone">
	<div id="def-club-sports-section" class="school-sports-section">

	</div>
	<span class="floatLeft"><a href="javascript:void(0)" class="btn-add-sports" >Add Sports</a> </span>
</div>
<!--<span class="floatRight"><a href="javascript:void(0)" class=" well-small btn-primary" >Save</a> </span> -->
</div>
<!--CLUBs LISTING SECTION HERE-->
<!--lIST-->
<div class="row-fluid section-team-list-detail-club">

</div>
