<div class="sub-section-prof-setting">

	<div class="row-fluid">
		<span class="green-left-heading">Individual Sports</span>
	</div>
	<span style="padding:10px 50px 10px 50px; font-weight: bold; font-size:.9em; display: block;">Individual sports are sports that you participate in without a team.&nbsp;&nbsp;An easy way to understand it is when you go to a Meet / Event and dominate, did YOU win, or did your TEAM win?  If you won, chances are you want to choose your sport below.
		Another question you can ask, is "Can you compete in an event for this sport without a team?".<br/><br/>
		There are gray areas like boxing gyms or MMA gyms where you belong to and compete for a gym, but it's you that wins the fight and it's two people competing, not two teams.&nbsp;&nbsp;We're working on building support for that, but now, use the individual sport section to add the sport to your profile.<br/><br/>
	If you are dealing with a team sport, go to the sections above to select your team.&nbsp;&nbsp;There is a section for school-based teams and one for club-based teams.&nbsp;&nbsp;If you can't find it in the auto-complete search, you can add a new one.&nbsp;&nbsp;If you find this confusing, please don't hesitate to send an email to weare@athletez.com</span>
	<div class="section-individual-sports">
		<div class="org-sport-list">
			<div class="org-sport-list-header">
				<div class="org-name">Select The Sports you Participate in</div>
			</div>
			<div class="sports-list-individial-sports"></div>
		</div>
	</div>
</div>