.autoform{

}

form.autoform input[type="text"], form.autoform textarea{
    background-color: #EAEAEA;
    width: 90%;
    padding: 6px;
    margin: 10 10px 0 0;
    display: inline-block;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 1px #000000;
    box-shadow: inset 0 0 10px #D8D8D8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

form.autoform input[type="text"]{
    height : 25px;
}

form.autoform a.verify-address-h{
    color: #529830;
}

form.autoform .input-field input.submit-btn{
    background-color: #9cca3c;
}

form.autoform .input-field input.cancel-btn{
    background-color: #c43737;
}

/*  Add Game Css  */
form.autoform .date-picker-field {
    width: 100px;
}

form.autoform .time-picker-field {
    width: 100px;
}

form.autoform .ampm-field {
    width: 80px;
}
