<div class="modal hide fade tests-modal_h" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Add a Test ({{Test_Type}})</h3>
</div>
<div class="modal-body  well">
	{{#data}}
	<div class="row-fluid">
		<span class="span3">
		<input type="checkbox" class="chk-test-{{type}}_h chk-{{id}}" testid="{{id}}" /> </span> &nbsp;
		<span class="span3"> {{testname}} </span>
	</div>
		{{/data}}
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Finish</button>
<!--<button class="btn btn-primary btn-Save-Positions">Finish</button> -->
</div>
</div>