
.password {
    border : 1px solid #cc9933;
    width : 200px;
}
.pstrength-minchar {
    font-size : 10px;
}
.fbimage {
    float:left;
    margin-right: 4px;
    
}
.picture-buttons {
    clear:both;
}
.fbimagecontainer jrac_viewport img {display:block}
#main-content-reg #main-content{
    width:90%;
    margin-left: 5%;
}