<!--<input type="file" id="chooseVideoFile" accept="video/*"/>
<form>
	<div id="container">
		<div id="pickfiles">Find a Video</div>
		<div class="modal-footer">
			<button class="btn fileuploader btn-primary" id="videoup" type="button">Upload</button>
			<button class="btn" data-dismiss="modal"  aria-hidden="true">Close</button>
		</div>
	</div>
</form>-->

<div id="file_upload"></div>
<form class="form" id="upload_form" method="post">
	<div id="container_plupload">

	<div style="padding:5px 0 20px 10px;">The video uploader will let you upload large videos to our servers.  Once the upload is finished, it takes a couple minutes for everything to process.
	So nothing will happen right away, but it will be on your profile within a couple minutes of when you hit upload.</div>
	<span class="file-wrapper">
				<div class="qq-upload-button" id="pickfiles" style="float:left; width:95%;">
					<a class="btn-common common-default-sky-dark">Select a Video File</a>
					<span style="font-size:11px; display:block; color:#880000;" id="fileVal"></span>
				</div></span><br/>
		<input type="text" id="title" name="title" style="width:95%" placeholder="Enter a Title"/>
		<label style="margin-bottom: 2px;">Sport</label>
		<select name="sports_id" id="sports_id" style="width:95%;" class="">
			<option value="1">Baseball</option>
			<option value="2">Basketball</option>
			<option value="3">Cross Country</option>
			<option value="6">Football</option>
			<option value="7">Rugby</option>
			<option value="8">Golf</option>
			<option value="9">Hockey</option>
			<option value="10">Lacrosse</option>
			<option value="11">Soccer</option>
			<option value="12">Swimming</option>
			<option value="14">Tennis</option>
			<option value="15">Track and Field</option>
			<option value="16">Volleyball</option>
			<option value="17">Water Polo</option>
			<option value="18">Wrestling</option>
			<option value="19">Crew</option>
			<option value="20">Basketball</option>
			<option value="21">Cross Country</option>
			<option value="22">Cheerleading</option>
			<option value="23">Golf</option>
			<option value="24">Hockey</option>
			<option value="25">Lacrosse</option>
			<option value="26">Softball</option>
			<option value="27">Soccer</option>
			<option value="28">Swimming</option>
			<option value="30">Tennis</option>
			<option value="31">Track and Field</option>
			<option value="32">Volleyball</option>
			<option value="33">Water Polo</option>
			<option value="34">Field Hockey</option>
			<option value="35">Crew</option>
			<option value="36">Gymnastics</option>
			<option value="37">Rifle</option>
			<option value="38">Skiing</option>
			<option value="39">Diving</option>
			<option value="40">Indoor Track</option>
			<option value="41">Fencing</option>
			<option value="42">Fencing</option>
			<option value="43">Gymnastics</option>
			<option value="44">Rifle</option>
			<option value="45">Skiing</option>
			<option value="46">Indoor Track</option>
			<option value="47">Diving</option>
			<option value="48">Squash</option>
			<option value="49">Squash</option>
			<option value="50">Long Distance Running</option>
			<option value="51">Triathalon</option>
			<option value="52">Beach Volleyball</option>
			<option value="53">Men's Boxing</option>
			<option value="54">Women's Boxing</option>
			<option value="55">Men's Brazilian Jujitsu</option>
			<option value="56">Women's Brazilian Jujitsu</option>
			<option value="57">Men's MMA</option>
			<option value="58">Women's MMA</option>
		</select>

		<div id="uploadfiles" class="common-default-sky-dark btn-common" style="width:70px;">Upload</div>
		<div id="filelist"></div>
	</div>
</form>

<div id="resultdiv" style="display: none; padding-left: 10px;"></div></div>