<div style="padding:15px;">
<p>Welcome, </p>
<p>Athletez was built with you in mind but just in case we managed to  confuse you we thought we should still give you some tips on how the whole  thing works. </p>
<p>&nbsp;</p>
<p><strong>Vote</strong></p>
<p>Click vote on anything on the Athletez site that you think is  cool: photos, videos, players, games, or teams. The total number of votes  something receives on the site determines where it shows up on the home page.  In addition, the highest voted picture for every team and game will display as  its default profile picture until something gets more votes. </p>
<p><strong>Fan</strong></p>
<p>Want to let the world know that you support an athlete or a team?  Click follow. </p>
<p>Once you click follow your profile will display in the &ldquo;Fan&rdquo; section  of whoever you followed, couldn&rsquo;t think of an easier way to let the world know you support  someone. </p>
<p><em>In addition, in a matter of weeks the follow button will also  determine what populates an upcoming feature: your feed. The feed will  chronicle and notify you of all activity that</em><em>&rsquo;s related to the people and teams you follow. It</em><em>&rsquo;ll be the best way to see when there are new photos, videos,  comments, game scores and the like. </em></p>
<p>&nbsp;</p>
<p><strong>Tagging</strong></p>
<p>As you&rsquo;ve already noticed, we&rsquo;ve got tons of awesome photo and video content here on Athletez.  If you&rsquo;ve made it this far, I&rsquo;ll assume that you&rsquo;re interested in sharing some of your own… and you  want it to be seen by the right people. </p>
<p>On Athletez you can tag Games, Teams, Athletes, Events or some  combination of the four. The photo or video tagged will then display in the  media section of the respective pages. </p>
<p>A few notes on tagging:</p>
<p>- A photo or video will display in the media section of all pages  that have been tagged<br />
  - Photos and videos will automatically be tagged with whatever  game, team, or player page you select upload from. <br />
  - If you tag a game, both teams that played will automatically be  tagged. <br />
  - All home page search is a result of tagging, so if you don&rsquo;t  properly tag your media it won&rsquo;t show up where you want it to!</p>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Connecting with teams</strong></p>
<p>Connect yourself with every team you&rsquo;ve ever played on, in seconds!</p>
<p>Once you&rsquo;ve added yourself to a team on your Teams and Sports page the  following things will happen:</p>
<p>1.&nbsp;&nbsp;&nbsp;  A new view of your profile will be available for the sport of the  team whose roster you&rsquo;ve added yourself to. This is where your photos, videos, game  schedules and workout stats will appear on your profile. <br />
  2.&nbsp;&nbsp;&nbsp;  Your profile will begin to display in search results for the new  sport. <br />
  3.&nbsp;&nbsp;&nbsp;  The game schedule and results for that team will display on your  profile page. <br />
  4.&nbsp;&nbsp;&nbsp;  You will be added to the roster section of that Team page, and any  game page associated with that team. <br />
  5.&nbsp;&nbsp;&nbsp;  You will receive email notifications if when anyone tags your team  in any media content, or comments on any games your team played in. </p>
<p><strong>Connecting with Individual Sports &amp; Events</strong></p>
<p>Simply put, individual sports are those that you train for and  compete in without necessarily having to belong to a Club, School or Specific  gym. </p>
<p>Long distance runners, rock-climbers, triathletes and golfers are  the easiest examples of this type of connection. </p>
<p>The key difference between connecting your profile with an  individual sport as opposed to a team sport is the ability to link your profile  with Events. Events are to individual sports as Games are to Team Sports. </p>
<p>Examples of events include beach volleyball tournaments,  marathons, triathlons and the like. You can either create an event from your  profile page (when the correct individual sport has been selected) or add  yourself as a participant from an existing event page. </p>
<p><strong>Creating a Game</strong></p>
<p>We did our best to make creating a game, and updating your team  schedules as easy as possible. You can create a game from the Schedule Section  of any profile as well as any Team page. </p>
<p>After that it&rsquo;s as simple as selecting the two teams that competed, entering the  game score (if the event already took place), uploading some photos and videos  and sharing the link with your friends and fans. </p>
<p>You can edit the game score, date, time, or address from the game  page itself after it has been created. </p>
<p><strong>Creating an Event</strong></p>
<p>As mentioned in the &ldquo;Individual Sports &amp; Events&rdquo; section above, events are the  key component of Individual Sports. </p>
<p>Creating an Event is as simple as selecting the &ldquo;Create  Event&rdquo; button in the event schedule of any athlete&rsquo;s  profile. After that you need only assign a sport, event name, date, time, and  location and click create! </p>
<p>If it turns out someone has already added the Event you just need  to add yourself as a participant from the event page and then you will display  as a participant from the event page, receive notifications regarding the  event, and have the event added to your event schedule for that sport. </p>
</div>
		<a href="javascript:void(0);" class="close">Close</a>