{{#payload}}
<div class="row-fluid">

	<div class="game-heading">
		<!--div class="sports-h"></div-->
		<div class="game-general">
			<div class="stretch"></div>
			{{#shared.sport}}<span class="sport-h" data-id="{{sports_id}}">{{shared.sport}}</span>{{/shared.sport}}
			{{#shared.complevel}}<span>{{shared.complevel}}</span>{{/shared.complevel}}
			{{#shared.season}}<span>{{shared.season}}</span>{{/shared.season}}
		</div>

		<h3>{{game_day}} {{gameTime}}</h3>
		<p>
			{{game_location}}
		</p>
		<a href="javascript: void(0);" class="common-btn game-edit-btn-h common-default-sky-dark pull-right">Edit Game</a>
	</div>

	{{#game_picture}}
	<a href="javascript: void(0);" class="header-image-container image-outer-h">
	<div class="image-item-container">
		<img src="{{game_picture.types.standard_thumb.url}}" alt="{{game_name}}" />
		<div class="action-section">
			{{#game_picture.is_owner}}
			<div class="action-block left-block edit object-edit-h" subject-type-id="{{enttypes_id}}" subject-id="{{id}}">
				<span>E</span>
			</div>
			<div class="action-block right-block delete object-delete-h" subject-type-id="{{enttypes_id}}" subject-id="{{id}}">
				<span>D</span>
			</div>
			{{/game_picture.is_owner}}
			{{^game_picture.is_owner}}
			<div class="action-block left-block vote" subject-type-id="{{enttypes_id}}" subject-id="{{id}}">
				<span>V</span>
			</div>
			<div class="action-block right-block follow" subject-type-id="{{enttypes_id}}" subject-id="{{id}}">
				<span>F</span>
			</div>
			{{/game_picture.is_owner}}
		</div>

	</div> </a>
	{{/game_picture}}

	<ul class="teams-list">
		{{#teams}}
		<li class="team-item">
			<div class='score-box score-box-h {{#isWinner}}win{{/isWinner}}'>
				<a href="javascript: void(0);" title="edit score" class="edit-score-h"> <span>{{#points_scored}}
					{{points_scored}}
				{{/points_scored}}	
				{{^points_scored}}
					&nbsp;
				{{/points_scored}}
				</span> </a>
				<input type="hidden" value="{{points_scored}}" data-id="{{games_teams_link_id}}" class="edit-score-input-h input-mini" />
			</div>
			<div class="org-info">
				<span class="org-name"> {{org_sport_link_obj.org.org_name}}, {{complevels_obj.complevel_name}}, {{seasons_obj.season_name}} {{year}} </span>
				<span class="org-location"> {{team_location}} </span>
			</div>
		</li>
		{{/teams}}
	</ul>
	<div id="votes-area-h"></div>
</div>

<div id="modalPopupGameEdit" class="modal photo-frame-model hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			&times;
		</button>
	</div>
	<div class="modal-body page-content-h">
		<form action="#" class="update-date-time-h" name="update-date-time">
			<label>Date &amp; Time</label>
			<input type="text" class="date-time-h" value="{{gameDay}} {{gameTime}}" readonly="readonly" />
			<label>Location</label>
			
			<textarea placeholder="Address" class="location-h address-h" rows="3" cols="25">{{game_location}}</textarea>
			<a href="javascript: void(0);" title="Verify Address" class="verify-address-h">Verify Address</a>
			<span class="address-error hide address-error-status-h"></span>
			<div class="view-map-h"></div>
			<input type="submit" class="common-btn common-btn-validation" name="submit_edit-form" value="Update" />		
		</form>
	</div>
</div>
{{/payload}}
