{{#payload}}
<div class="row-fluid">

	<div class="game-heading">
		<!--div class="sports-h"></div-->
		<a href="javascript: void(0);" class="game-edit-btn-h pull-right">Edit Game</a>
		<div class="game-general">
			<!--<div class="stretch"></div>-->
			{{#shared}}
				{{#shared.sport}}<span class="sport-h" data-id="{{sports_id}}">{{shared.sport}}</span>{{/shared.sport}}
				{{#shared.complevel}}<span>{{shared.complevel}}</span>{{/shared.complevel}}
				{{#shared.season}}<span>{{shared.season}}</span>{{/shared.season}}
			{{/shared}}
			{{^shared}}
				{{#event_name}}<span class="sport-h" data-id="{{sports_id}}">{{event_name}}</span>{{/event_name}}
			{{/shared}}
		</div>
		<p>
			{{game_day}} {{game_time}} - {{game_location}}
		</p>
		{{^shared}}<!--a href="javascript: void(0);" class="add-to-event common-btn common-default-sky-dark pull-right" title="Add me to this Event">Add me to this Event</a-->{{/shared}}

	</div>

	<ul class="span3 image-outer-h">
			</ul>

	<!--{{#game_picture}}
	<a href="javascript: void(0);" class="header-image-container image-outer-h">
	<div class="image-item-container">
		<img src="{{game_picture.types.standard_thumb.url}}" alt="{{game_name}}" />
		<div class="action-section">
			{{#game_picture.is_owner}}
			<div class="action-block left-block edit object-edit-h" subject-type-id="{{enttypes_id}}" subject-id="{{id}}">
				<span>E</span>
			</div>
			<div class="action-block right-block delete object-delete-h" subject-type-id="{{enttypes_id}}" subject-id="{{id}}">
				<span>D</span>
			</div>
			{{/game_picture.is_owner}}
			{{^game_picture.is_owner}}
			<div class="action-block left-block vote" subject-type-id="{{enttypes_id}}" subject-id="{{id}}">
				<span>V</span>
			</div>
			<div class="action-block right-block follow" subject-type-id="{{enttypes_id}}" subject-id="{{id}}">
				<span>F</span>
			</div>
			{{/game_picture.is_owner}}
		</div>
	</div> </a>
	{{/game_picture}}-->

	<ul class="teams-list">
		{{#teams}}
		<li class="team-item">
			<div class='score-box score-box-h {{#isWinner}}win{{/isWinner}}'>
				<a href="javascript: void(0);" title="edit score" class="edit-score-h"> <span style="width:100%; height: 100%">{{points_scored}}</span> </a>

				<input type="hidden" value="{{points_scored}}" data-id="{{games_teams_link_id}}" class="edit-score-input-h input-mini" />
			</div>
			<div class="org-info">
				<span class="org-name"><a href="/#!team/{{id}}">{{org_sport_link_obj.org.org_name}}, {{complevels_obj.complevel_name}}, {{seasons_obj.season_name}} {{year}}</a></span>
				<span class="org-location"> {{team_location}} </span>
			</div>
		</li>
		{{/teams}}
	</ul>
	<div id="votes-area-h"></div>
</div>

<div id="modalPopupGameEdit" class="modal photo-frame-model hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			&times;
		</button>
	</div>
	<form action="#" class="update-date-time-h" name="update-date-time">
	<div class="modal-body page-content-h">

			<div class="row-fluid">
				<label>Event Name</label>
				<input type="text" id="event_name" value="{{event_name}}" />
			</div>
			<div class="row-fluid">
			<label>Date &amp; Time</label>
			<input type="text" class="txt-game-date_h txtDate" placeholder="Enter Date" value="{{gameDay}}" readonly="readonly" />
			<input type="text" class="txt-game-time_h hasDatepicker txtTime"  placeholder="Time" value="{{game_hour}}" placeholder="Time" maxlength="5" />
			<span class="spn-ddl-time-period_h"></span>
			</div>
			<div class="row-fluid"><label>Location</label></div>
			
			<textarea placeholder="Address" class="location-h address-h" rows="3" cols="25">{{game_location}}</textarea>
			<a href="javascript: void(0);" title="Verify Address" class="verify-address-h">Verify Address</a>
			<span class="address-error hide address-error-status-h"></span>
			<div class="view-map-h"></div>


	</div>
	<div class="modal-footer"><input type="submit" class="common-btn common-btn-validation" name="submit_edit-form" value="Update" />	</div>
	</form>
</div>
{{/payload}}
