<div class="template-container">
	<div id="main-header" class="profile-header"></div>

	<div class="green-left-heading">PHOTO/VIDEO</div>
	<div class="row-fluid" id="main-content">
		<!-- <div id="video-wrap" class="clearfix"></div> -->
		<div id="image-wrap" class="clearfix clear">
		</div>
		<!--div id="add-media" class="clearfix">add media</div-->
	</div>

	<div class="green-left-heading">MESSAGE BOARD</div>
	<div id="commenton-wrap" class="clearfix clear commentson-outer-box-h"></div>
	<div id="comment_div" class="clearfix"></div>
	
	<div id="roster-wrap" class="clearfix clear"></div>
	
	<div class="green-left-heading participants-heading-h hide">PARTICIPANTS</div>
	<div id="participants_div" class="clearfix clear"></div>
	
	<div class="row-fluid">
		<div class="span4" id="main-sidebar">
			<div id="org-wrap" class="clearfix hide"></div>
			<div id="related-wrap" class="clearfix"></div>
			<div  class="clearfix"></div>
		</div>
	</div>
	
	
	
	
<!--div class="row-fluid">
    <div class="span4" id="main-sidebar">
    
        <div id="add-media" class="clearfix">
        </div>
        
        <div>MESSAGE BOARD</div>
    	<div class="commentson-outer-box-h clear"></div>
    	<div id="comment_div" class="clearfix"></div>
        
        <div id="roster-wrap" class="clearfix">
        </div>
    
    </div>
    <div class="span8" id="main-content">
        
        <div id="video-wrap" class="clearfix">
        </div>
        
       
        
        <div id="comment-wrap" class="clearfix">
        </div>
        
    </div>
</div-->

<div id="main-footer">

</div>
</div>
