<div class="well-large well span3">
	<h4>Batch Tag</h4>
	<div class="section-Add-Sports_h">
	<div class="row-fluid">
		Select Sport:
	</div>
	<div class="row-fluid">
		
		<select class="ddl-tag-sports_h"></select>
		<span class="alert alert-danger displayNone field-message"></span> 
	<br/>
	<button class="btn btn-primary btn-tag-sport_h displayNone">Done</button>
	</div>
	
	</div>
	<div class="div-tag-list_h">		
	<div class="section-sports_h displayNone">
		<label class="lbl-tag-sport-name_h"></label><span>
			<button class="btn btn-tag-edit-sport_h">Edit</button></span>
	</div>
	
	<div class="section-team_h displayNone">
		<strong>Teams :</strong> <br/>
		<label class="lbl-tag-team-name_h"></label><span><button class="btn btn-tag-edit-team_h displayNone">Edit</button></span>
	</div>
	
	</div>
	<div class="section-tag-team_h displayNone">
		Tag a Team : 
		<br/>
		<input type="text" class="txt-tag-team-state_h" placeholder="Enter State" />
		<input type="text"class="txt-tag-team-school_h displayNone" placeholder="Enter High School" />
		<!-- <select class="ddl-tag-team-level_h displayNone"></select>
		<select class="ddl-tag-team-season_h displayNone"></select> -->
	 	<span class="alert alert-danger displayNone field-message"></span> 
		<button class="btn btn-primary btn-tag-team-Done_h displayNone">Done</button>
		
	</div>
	
	<div class="section-tag-player_h displayNone">
		Tag a Player : 
		<br/>
		<div class="section-tag-player-input_h">
		<input type="text" class="txt-tag-player-name_h" placeholder="Enter Name" />
		</div>
		<span class="btn-tag-add-player_h strong">
			+
		</span>
		<br/>
		<button class="btn btn-primary btn-tag-player-Done_h">Done</button>
	</div>
	
	<div class="section-tag-game_h displayNone">
		<select class="ddl-tag-game_h"></select>
		<br/>
		<span class="alert alert-danger displayNone field-message"></span>
		<br/>
		<button class="btn btn-primary btn-tag-game-Done_h displayNone">Done</button>
	</div>
	
	<div class="section-link_h displayNone">
		Tag:
		&nbsp;<a href="javascript:void(0)" class="link-tag-team_h">Team</a>
		&nbsp;<a href="javascript:void(0)" class="link-tag-player_h displayNone">Player</a>
		&nbsp;<a href="javascript:void(0)" class="link-tag-Game_h displayNone">Game</a>
		<br/>
		<span class="alert alert-danger displayNone field-message"></span>
	</div>
	
	<button class="btn btn-primary btn-tag-Finish_h">Finish</button>
</div>