.photo-frame-model {
    width: 90% !important;
    height:80%;
    top: 10% !important;
    left:5% !important;
    margin: 0 !important;
    border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;
    padding: 0;
    border:none !important;
}

.photo-frame-model .modal-body {
    height: 100%;
    width: 100%;
    max-height: 100% !important;
    padding: 0 !important;
}


.photo-frame-model .comment .user-photo img {
    margin-top: 0px !important;
}

.comment-input-outer #new-comment {
    height: 30px;
}

.comment-input-outer form {
    display: block !important;
}

.comment-input-outer .add-comment-h {
    display: none;
}

.photo-player {
    float: left;
    width: 70%;
    height: 100%;
}
.photo-player > div{
    height: 100%;
}

.photo-player-right-area {
    /*float: right;*/
    height: 100%;
    overflow-y: auto;
    /*padding-left: 2%;*/
    width: 30%;
}

.photo-player-right-area .right-area-header{
    height:40px;
    background-color: #989899;
    width:100%;
    margin-bottom:20px;
}

.comment-area, .photo-frame-model #comment_div {
    /*width: 90%;
    float: right;*/
}

.photo-player-coment {
    float: left;
    width: 100%;
}

.photo-player-coment .user-photo {
    width: 24px;
    height: 24px;
    float: left;
}

.photo-player-coment .content {
    float: left;
    padding-left: 10px;
}

.photo-frame-model li.comment {
    background: #CCCCCC;
    display: block;
}



.image-bg {
    text-align: center;
    background: #333;
    height:100%;
    position: relative;
}

div.image-controls{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1055;
}

div.right-arrow-container, div.left-arrow-container{
/*    height:100%;
    position: relative;
    vertical-align: middle;
    text-align: center;
  */
    width:20%;

}

div.right-arrow-container{
    right:0px;

}

div.left-arrow-container{
    left:0px;
}

div.right-arrow-container > img, div.left-arrow-container > img {
    display: block;
    position: relative;
    top:40%;
    margin-top:-25px;
}

div.left-arrow-container > img{
    margin-left:50px;
    float: left;
}

div.right-arrow-container > img{
    margin-right:50px;
    float: right;
}

.images-list {
	padding: 0px 10px;
	margin: 0;
    float: left;
}

.thumbs-outer {
    z-index: 1056;
    max-width: 100%;
    margin-top: 5px;
    height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    bottom:13px;
}

.thumbs-inner {
    width: 10000px;
}

.thumbs-inner .images-list ul{
    height: 150px;
}
.thumbs-inner .images-list li {
    position: relative;
    margin: 1px;;
    float: left;
    display: block;
    margin-right: 5px;
    opacity: 0.5;
    width: 110px;
    height: 110px;
    overflow:hidden;
}

.thumbs-inner .images-list li:hover {
    opacity: .9;
}

.thumbs-inner .images-list li img {
    min-width: 100%;
    min-height: 100%;
    position: relative;
}


.thumbs-inner .images-list li.selected-photo-thumb {
    opacity: 1;
    border:1px solid #FFF;
    margin: 0;
}

.image-actions {
    position: absolute;
    top: 30px;
    left: 50px;
}

.image-actions li {
    padding: 5px;
    background: #CCC;
    float: left;
    margin-left: 5px;
}

.image-actions li:first-child {
   /* margin-right: 5px;*/
}

.image-actions li a {
    color: #FFF;
}

.photo-player-main-image {
    min-height: 380px;
    max-height: 100%;
}
.loading_image{
    -webkit-transition : all .2s ease-out;
    -moz-transition : all .2s ease-out;
    -o-transition : all .2s ease-out;
    transition : all .2s ease-out;
    position: relative;

}

.tags-name {
	float: left;
	width: 100%;
}

.tags-name > span {
	float: left;
}

.tags-name > span > a img {
    height: 60px;
    width: 60px;
}

.tags-number {
	float: right;
	width: 20%;
}

#photoPlayerModal .game-match-name {
	float: left;
	width: 70%;
}

#photoPlayerModal .game-score {
	float: right;
	width: 30%;
}

.photo-player-arrow {
	position: absolute;
	top: 40%;
}

#video_container{
    width: 100%;
    height: 100%;
    text-align: left;
    z-index: 9999;
}/*
#video_container span{
    position: absolute;
    font-size: 2.5em;
    width:100%;
    padding-top: 200px;
    text-align: center;
}*/
.hidden{
    display: none;
}
#jw_container{
    z-index: 9999;
}

ul#tags-list {
	margin: 5px 0 60px 5px;
}

ul#tags-list li {
	margin: 5px 0 0 0;
}

ul#tags-list .tags-name img {
	width: 40px;
	height: 40px;
	float:left
}

ul#tags-list .tags-name a span {
	font-size: .8em;
	width: 200px;
	display: inline-block;
	margin-left: 5px;
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow:hidden; 
	margin-left: 20px;
	float:left;
}

ul#tags-list .tags-number {
	margin-top: 4px;
	margin-left: 10px;
	width: 4px;
}


.game-match-name{
        background-color: #948BDE;
        color: white;
        height: 45px;
        font-size: small;
        
    }
    .game-score{
        background-color: #4C3DC7;
        color: white;
        height: 45px;
        text-align: center;
        width: 65px;
        float: left!important;
        font-size: 2.2em;
        font-weight: bolder;

    }
    .game-match-name1{
        background-color: #E69F71;
        float: left;
        width: 70%;
        color: white;
        height: 45px;
        font-size: small;
        
    }
    .game-score1{
        background-color: #D45F10;
        color: white;
        height: 45px;
        text-align: center;
        width: 30%;
        float: left!important;
        font-size: 2.2em;
        font-weight: bolder;
    }
    .teamName-area{
        padding-top: 9%;
        padding-bottom: 35%;
        font-size: small;
    }
    .scoreAlign{
        top: 20%;
        position: relative;
    }
    .labelSpan{
        font-size: small;
        font-weight: bolder;
    }


    .user-photo {
    float: left;
    height: 45px;
    width: 45px;

}
.comment .user-photo img, .comment .user-photo a img {
    height: 100%;
    margin-top: 5px !important;
    position: relative;
    top:0px;
    width: 100% !important;
}
.photo-player-coment .user-photo {
    float: left;
    height: 40px;
    width: 40px;
}
#comment-list{
margin-left: 7px;
margin-top: 0px;
}
.user-comment, .comment-text{
    font-size: small!important;
}
.user-comment{
    font-weight: bold;
}
.user-photo-profile{
   width: 76px;
    float: left;
}

.content-prof-sub{
    width: 299px;
    padding-top: 39px;
    margin-left: 22px;
}
.prof-name-area{
    width: 227px;
    height: 70px;
}
.firstheader{
    color: #FFFFFF;
    float: left;
    margin-right: 1%;
    position: relative;
    top: 10px;
    width: 109px;
}
.secheader{
    color: #FFFFFF;
    float: left;
   // margin-left: 5%;
     position: relative;
    top: 10px;
   // width: 90px;
}
.thirdheader{
   color: #FFFFFF;
    float: right;
    margin-left: 6%;
    position: relative;
    top: 10px;
    width: 31px;
}
.headerinfo{
    color: #FFFFFF;
    float: left;

   
    font-size: 16px;
    font-weight: bolder;

    height: inherit;
   
    width: 90%;
}
.closer{
    float: right;
    height: inherit;
    margin-top: 2.5%;
    width: 10%;
}
.modal-body {
    overflow-y: hidden!important;
     width: 100%!important;
}
.name{
    float: left;
    height: inherit;
    padding-left: 3%;
    width: 30%;

    }
    .game{
    float: left;
    height: inherit;
    padding-left: 8%;
    position: inherit;
    text-align: right;
    width: 30%

    }
    .season{
    float: left;
    height: inherit;
    position: inherit;
    text-align: right;
    width: 29%;
    }
    .topalign{
        position: relative;
        top: 19%;
    }
    .close{
        padding-right: 9px!important;
        color: #FFFFFF;
        font-size: 26px;
        opacity: 1;
        padding-right: 9px;
    }
 