<div class="row-fluid sub-section-prof-setting">
	<div class="row-fluid">
		<span class="green-left-heading">Awards</span>
	</div>

	<div class="inset-data-entry section-new-award">
		<div class="div-add-dotted well-small btn-Add-award_h" testids="{{TestIds}}">
			+ Add an Award
		</div>
		<div class="section-new-controls displayNone">
			<div class="clearfix row-fluid">
				<div style="width: 100%; padding:5px; margin: 0;">
				<span>
					<select class="ddl-sports-awards_h"></select>
				</span>
				<span>
					<input type="text" class="txtAwards_h txt_name_h" placeholder="Award Name" value="{{name}}"/>
				</span>
				<span>
					<input type="text" class="txtAwards_h txt_year_h" placeholder="Year Awarded" value="{{year}}"/>
				</span>
				</div>
				<div style="width: 100%; padding:5px; margin: 0;">
				<span>
					<textarea class="txtAwards_h txt_description_h" placeholder="Description">{{description}}</textarea>
				</span>
				</div>
			</div>
			<div style="width: 100%; padding:5px; margin: 0;">
				<span class=""><a href="javascript:void(0)" class="resume_button btn-Save_award_h" >Save</a> <a href="javascript:void(0)" class="resume_button btn-Cancel-New">Cancel</a> <span class="alert alert-danger displayNone error_h"></span> <span class="alert alert-success displayNone success_h"></span>
			</div>
		</div>
		<br/>
	</div>
	<div id="section-list-awards" class="row-fluid">

	</div>
</div>