<span class="standard-subsection-header">GPA</span>
<div class="div-add-dotted well-small btn-Add-gpa" testids="{{TestIds}}">
	+ Add a Gpa
</div>
<div class="section-Add-Gpa displayNone">
	<div class="alert alert-danger displayNone error_h"></div>
	<span class="span5">Year : 
		<select class="txtGpaYear_h">
			<option value="">Select</option>
			<option value="Senior">Senior</option>
			<option value="Junior">Junior</option>
			<option value="">Sophomore</option>
			<option value="Freshman">Freshman</option>
		</select>
		</span>
	<span class="span5">Score : <input type="text" class="txtGpaScore_h"/></span>
	<p ><button class="resume_button btn-Save-Gpa">Save</button></p>
</div>
<a href="javascript:void(0)" id="edit-gpa-btn" class="edit edit-gpa displayNone"></a>
{{#data}}
			<div class="row-fluid">
				<span class="span3">{{year}}</span>
				<span class="span9">
					<input type="text" class="txtGpa_h" year="{{year}}" gpaId="{{id}}" value="{{gpa}}" disabled="disabled"/>
					<a href="javascript:void(0)" class="remove btn-delete-gpa" year="{{year}}"></a>
					<span class="alert alert-danger displayNone error_h"></span>
					<span class="alert alert-success displayNone success_h"></span>
					</span>
					
			</div>
		{{/data}}
		<button class="resume_button btn-finish-gpa_h displayNone">Finish</button>