<div class="main-container" style="margin : auto">
	<!-- Basic Info Section Starts-->
	<div id="section-basics-prof-setting" style=""></div>
	<!-- Basic Info Section Ends-->

<!-- Sent Resume Section Starts
	<div id="section-sent-resume">

	</div>-->
<!-- Sent Resume Section Ends -->

<!-- Rd Tree Section Starts -->
	<div id="section-RD-Tree">
		
	</div>
<!-- Rd Tree Section Ends -->

<!-- Academic Gpa Section Starts -->
	<div id="section-academic">
		
	</div>
<!-- Academic Gpa Section Ends -->

<!-- User Awards Section Starts -->
	<div id="section-awards">
		
	</div>
<!-- User Awards Section Ends -->

<!-- User References Section Starts -->
	<div id="section-references">
		
	</div>
<!-- User Reference Section Ends -->

<!-- User Contacts Section Starts -->
	<div id="section-contacts">
		
	</div>
<!-- User Contacts Section Ends -->


	<div id="main-footer-prof-setting">
	</div>
</div>
