<div class="span12 well-large" style="margin : auto">
	<div id="main-header-prof-setting">

	</div>




	<!-- Basic Info Section Starts-->
	<div class="row-fluid well" id="section-basics-prof-setting">
	</div>
	<!-- Basic Info Section Ends-->

<!-- Sent Resume Section Starts -->
	<div id="section-sent-resume">
		
	</div>
<!-- Sent Resume Section Ends -->

<!-- Rd Tree Section Starts -->
	<div id="section-RD-Tree">
		
	</div>
<!-- Rd Tree Section Ends -->

<!-- Academic Gpa Section Starts -->
	<div id="section-academic">
		
	</div>
<!-- Academic Gpa Section Ends -->

<!-- User Awards Section Starts -->
	<div id="section-awards">
		
	</div>
<!-- User Awards Section Ends -->

<!-- User Contacts Section Starts -->
	<div id="section-contacts">
		
	</div>
<!-- User Contacts Section Ends -->


	<div id="main-footer-prof-setting">
	</div>
</div>
