
{{#data}}
<div class="section-rdtree-items_h inset-data-entry">
	<div class="row-fluid awards-sports-header"><span class="standard-subsection-header">{{#icon}}<img src="{{icon}}" />{{/icon}}{{sports_name}}</span></div>

		{{#references}}
		<div class="section-new-reference"  style="background-color: #eeeeee; border-bottom: 1px solid #ccc; padding-bottom: 10px;">
			<div class="row-fluid section-new-controls">

				<span class=""><span class="award-labels">Reference Name:</span> <input type="text" class="txtReferences_h txt_name_h" value="{{name}}" disabled="disabled"/></span>
				<span class=""><span class="award-labels">Relationship:</span> <input type="text" class="txtReferences_h txt_relation_h" value="{{relation}}" disabled="disabled"/></span>
				<span class=""><span class="award-labels">Phone:</span> <input type="text" class="txtReferences_h txt_phone_h" value="{{phone}}" disabled="disabled"/></span>
				<span class=""><span class="award-labels">Email:</span> <input type="text" class="txtReferences_h txt_email_h" value="{{email}}" disabled="disabled"/></span>
				<span><textarea style="width:90%;" type="text" class="txtReferences_h txt_description_h" disabled="disabled">{{description}}</textarea></span>
				<br />
				<span class="">
					<a href="javascript:void(0)" class="edit edit_reference_h"></a><a href="javascript:void(0)" class="remove btn-remove_reference_h" referenceid="{{id}}"></a>
					<a href="javascript:void(0)" class="resume_button btn-Update_reference_h displayNone" sportid="{{sports_id}}" referenceid="{{id}}">Save</a>
					<a href="javascript:void(0)" class="resume_button btn-Cancel-Existing_reference_h displayNone">Cancel</a>

					<span class="alert alert-danger displayNone error_h"></span>
					<span class="alert alert-success displayNone success_h"></span>
					
				</span>
				</div>
		</div>	
		{{/references}}
	</div>
	{{/data}}