<div class="row-fluid sub-section-prof-setting">
	<div class="row-fluid">
		<span class="green-left-heading">References</span>
	</div>

	<div class="inset-data-entry section-new-reference">
		<div class="div-add-dotted well-small btn-Add-reference_h" testids="{{TestIds}}">
			+ Add an Reference
		</div>
		<div class="well section-new-controls displayNone">
			<div class="clearfix row-fluid">
				<span class="reference-labels">Sport:</span>
				<span class=""> <select class="ddl-sports-references_h"></select> </span>
			</div>
			<div class="clearfix row-fluid">
				<span class="reference-labels">Name:</span>
				<span class="">
					<input type="text" class="txtReferences_h txt_name_h" value="{{name}}"/>
				</span>
			</div>

			<div class="clearfix row-fluid">
				<span class="reference-labels">Description:</span>
				<span class="">
					<input type="text" class="txtReferences_h txt_description_h" value="{{description}}"/>
				</span>
			</div>
			<div class="clearfix row-fluid">
				<span class="reference-labels">Email:</span>
				<span class="">
					<input type="text" class="txtReferences_h txt_email_h" value="{{year}}"/>
				</span>
			</div>
			<div class="clearfix row-fluid">
				<span class="reference-labels">Relationship:</span>
				<span class="">
					<input type="text" class="txtReferences_h txt_relation_h" value="{{year}}"/>
				</span>
			</div>
			<div class="clearfix row-fluid">
				<span class="reference-labels">Phone:</span>
				<span class="">
					<input type="text" class="txtReferences_h txt_phone_h" value="{{description}}"/>
				</span>
			</div>
			<div class="clearfix row-fluid">
				<span class="span12"> <a href="javascript:void(0)" class="resume_button btn-Save_reference_h" >Save</a> <a href="javascript:void(0)" class="resume_button btn-Cancel-New">Cancel</a> <span class="alert alert-danger displayNone error_h"></span> <span class="alert alert-success displayNone success_h"></span>
			</div>
		</div>
		<br/>
	</div>
	<div id="section-list-references" class="row-fluid">

	</div>
</div>