
{{#data}}
			<div class="row-fluid item-test-topic_h item-test-{{id}}">
				<div>
				<span class="span3"><h4>{{testname}} :</h4></span> <span class="span3"><a href="javascript:void(0)" class="edit-test">Edit</a></span>
				<span class="span9">
					{{#topics}}
					<div class="row-fluid">
						<span class="span3">{{name}}</span>
						<span class="span9"><input type="text" class="txtTestScore_h" testId="{{id}}" topicId="{{topicid}}" value="{{score}}" disabled="disabled"/>
							<span class="alert alert-danger displayNone error_h"></span> <span class="alert alert-success displayNone success_h"></span>
						</span>
					</div>
					 {{/topics}}
				</span>
				</div>
				<div>
					</div>
					<a href="javascript:void(0)" class="btn btn-primary btn-finish-test-topic_h displayNone" >Finish</a>
				</div>
			</div>
		 {{/data}}