

.password {
    border : 1px solid #cc9933;
    width : 200px;
}
.pstrength-minchar {
    font-size : 10px;
}

.fbimage {
    float:left;
    /* width:150px; */
}
.picture-buttons {
    clear:both;
}
/* .fbimagecontainer img { display:none; } */
.fbimagecontainer jrac_viewport img {display:block}
