# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed
#RewriteCond %{REQUEST_URI} !^/(collections|css|docs|images|models|packages|syncs|test|utils|vendor|views)/

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [L]
