.bar {
    height: 18px;
    background: green;
}
.imageholder {
  height: 200px;
  border: 2px dashed #ccc;
  margin: 10px 5px 0 0;
  vertical-align: middle;

}
.previewimg{
	display:inline;
	float: left;
	margin: 10px 10px 90px;
	height: 100px;
}
#preview
{
	display:inline-block;
	position:inherit;
}
.fileuploader
{
	margin: 10px 5px 0 10px;
}
.previewprogress
{
	margin: -56px 0 0 12px;
    position: absolute;
}
.previewimgsrc 
{
	height :inherit;
	position: relative;
}
.previewrotate
{
	margin-bottom: 25%;
}
