.bar {
    height: 18px;
    background: green;
}
.yellow
{
	background: yellow;
}
.red
{
	background: red;
}
.green
{
	background: green;
}
.imageholder {
  height: 75px;
  border: 2px dashed #ccc;
  margin: 10px 5px 0 0;

}