.bar {
    height: 18px;
    background: green;
}
.imageholder {
  height: 200px;
  border: 2px dashed #ccc;
  margin: 10px 5px 0 0;
  vertical-align: middle;

}
.previewimg{
	display:inline;
	float: left;
	margin: 10px;
}
#preview
{
	display:inline-block;
}
.fileuploader
{
	margin: 10px 5px 0 10px;
}