
{{#payload}}
    <div class="textcenter"><img id="image-select" src="{{base_url}}{{image_path}}" alt="{{image_title}}"/></div>
    <h3>{{image_title}}</h3>
    Votes: {{num_votes}} <br/>
{{/payload}}

<input type="hidden" name="x1" value="" id="x1" />
<input type="hidden" name="y1" value="" id="y1" />
<input type="hidden" name="x2" value="" id="x2" />
<input type="hidden" name="y2" value="" id="y2" />
<input type="hidden" name="w" value="" id="w" />
<input type="hidden" name="h" value="" id="h" />
