
<h2>Find My Sports Club</h2>
<form id="findClubFrm" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="states_id">What State?</label>
        <div class="controls">
            <input id="states_id" name="state_name" placeholder="Just Start Typing" value="{{state}}" />
            <p class="field-error"></p>
            <p class="field-message"></p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="sports_id">What Sport?</label>
        <div class="controls">
            <input id="sports_id" name="sport_name" placeholder="Just Start Typing" value="{{sport}}" />
            <p class="field-error"></p>
            <p class="field-message"></p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="orgs_id">Club Name</label>
        <div class="controls">
            <input id="orgs_id" name="org_name" placeholder="Just Start Typing" value="{{club}}" />
            <p class="field-error"></p>
            <p class="field-message"></p>
        </div>
    </div>
    <div class="complevels"></div>
    <div class="seasons"></div>
    <a href="#" class="back">Go Back</a>    
    <a href="#" class="not_find">Can't Find Your Club?</a>
    <a href="#" class="continue">Continue</a>
</form>
