
<h2>Find My Sports Club</h2>
<form id="findClubFrm">
    <label for="state">What State?</label>
    <input id="state" name="what_sport" placeholder="Just Start Typing" value="{{state}}" />
    <label for="sport">What Sport?</label>
    <input id="sport" name="what_sport" placeholder="Just Start Typing" value="{{sport}}" />
    <label for="club">Club Name</label>
    <input id="club" name="club" placeholder="Just Start Typing" value="{{club}}" />
    <div class="complevels"></div>
    <div class="seasons"></div>
    <a href="#" class="back">Go Back</a>    
    <a href="#" class="not_find">Can't Find Your Club?</a>
    <a href="#" class="continue">Continue</a>
</form>
