
<h2>Find My Sports Club</h2>
<form id="findClubFrm">
    <label for="what_sport">What State?</label>
    <input id="what_sport" name="what_sport" placeholder="Just Start Typing" value="{{state}}" />
    <label for="what_sport">What Sport?</label>
    <input id="what_sport" name="what_sport" placeholder="Just Start Typing" value="{{sport_name}}" />
    <label for="club_name">Club Name</label>
    <input id="club_name" name="club_name" placeholder="Just Start Typing" value="{{club_name}}" />
    <div class="complevels"></div>
    <div class="seasons"></div>
    <a href="#" class="back">Go Back</a>    
    <a href="#" class="not_find">Can't Find Your Club?</a>
    <a href="#" class="continue">Continue</a>
</form>
