.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.displayNone{display:none;}
.section-teams-prof-setting .spn-black-heading {
	background-color: #444;
	color: #FFF;
	width: 40px;
}
.div-add-dotted {
    background-color: #eef7f7;
	color: #33aeab;
	border: 1px #33aeab dashed;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	text-align: center;
	margin: 5px 30px 10px 30px;
    padding:8px 0 8px 0;
	cursor: pointer;
    font-family: 'Nunito', "HelveticaNeue";
}
.sub-section-prof-setting input[type='text'], .sub-section-prof-setting select {
	width: 235px;
	font-size: 15px;
    height: auto;
}
.sub-section-prof-setting label{   display: inline;}
.pointer {cursor: pointer;}
.arrow {
    background: none repeat scroll 0 0 #222222;
    border: 3px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 100;
    height: 38px;
    line-height: 45px;
    opacity: 0.5;
    text-align: center;
    width: 40px;
    float:left
}
.arrow.down{}
.arrow.up{}
.position-modal .modal-body span{
    background: none repeat scroll 0 0 #444444;
    border-radius: 6px 6px 6px 6px;
    color: #E5E5E5;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 4px;
    padding: 3px 4px;
	
}
.position-modal .modal-body span.active{
	background: #AAA;
	background: #9A9A9A; 
}
.add-org-fields{
    margin: 0 5% 0 10%;
}
.add-org-fields *{
    font-family: "HelveticaNeue", "Helvetica";
}
.org-sport-list{
    margin:25px 5% 0 5%;
    background-color: #eaedf1;
    height: auto;
}
.org-sport-list .org-sport-list-header{
    width: 100%;
 
    font-family: 'Nunito';
    font-weight: bold;
}
.org-sport-list .org-sport-list-header:first-child{ border: none; }
.org-sport-list-header > div{
    color:#515252;
    display: inline-block;
    border-right:1px solid #b7b7b7;
    padding:7px 15px 7px 10px;
}
.org-sport-list-header div:last-child{
    border-right:none;
}
.org-sport-list-header .org-name{
    font-size: 1.2em;
}
.org-sport-list-header .sport-name{ padding: 5px 0 5px 0; margin: 10px 0 10px 0; width: 100%; border-bottom:1px solid #b7b7b7;  font-size: .9em; }
.org-sport-list-header .sport-name img{ margin-left:10px; margin-right: 10px; max-height: 30px; max-width: 40px; }
.org-sport-list-header .add-sport > a, .org-sport-list-header .sport-name > a{ font-size: .9em; color: #515252; text-decoration: underline; }
.org-sport-list-header input{
    margin:5px 20px 5px 20px;
}
.season-list > span{ color: #515252;font-weight: bold; font-size:.9em; display: inline-block; width: 15%; margin: 15px; text-wrap: normal;vertical-align: middle;}
.season-list > span:first-child{ margin-left: 30px;}
.season-list > span:last-child{width: 50%;}
.season-list > span .position-listing{margin-right: 10px;}
.season-list > span .position-listing:after{ content: ', '; }
.season-list > span .position-listing:last-child:after{ content: ''; }
.season-list:hover{
    -moz-box-shadow:    1px 1px 2px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px 2px #ccc;
    box-shadow:         1px 1px 2px 2px #ccc;
}
.section-team-list-detail > *, .section-team-list-detail-club > *, .section-individual-sports > *{
    margin: 25px 5% 0 5%;
}
.season-array{
    vertical-align: middle;
}
.season-array > *{
    margin:5px 30px 5px 30px;
}
.season-array .year-label{
    display: inline-block;
}
.div-seasons div.arrow-container{
    width: 100%;
    float: left;
    margin: 20px;
}
div#edit_profile_info_section{
    margin:5px;
    padding:15px;
}
div#edit_profile_info_section div span{
    display: inline-block;
    width:100px;
}
#section-basics-prof-setting .profile-image{
    padding:10px;
}
#section-basics-prof-setting .profile-image a{
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    border:4px dashed white;
    position: relative;
    top:-80px;
    height: 40px;
    background-color: #d36011;
    color: white;
    padding-top:15px;
    opacity:.7;
}
.main-container{
    margin : auto; background-color: white; width:100%; padding-bottom: 60px;
}
.main-container > div{
    width: 100%;
    display: inline-block;
}
.inset-data-entry{
    padding:10px 5% 0 10%;
    width:85%;
}
.standard-subsection-header{
    margin:25px 5% 0 0;
    height: auto;
    width: 100%;
    
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 1.1em;
    color:#515252;
}
.rd-entry{ vertical-align:middle;padding:5px 0 0 30px;}
.rd-entry > span{ display: inline-block;font-family: 'Nunito';font-weight:normal; color:#515252; font-size: 1.0em;}
.rd-entry > span:first-child{ width:30%; }
.rd-entry > span:first-child > img{ width:30px; margin-right:10px;}
.resume_button{
    float: right;
    background-color: #515252;
    color: #eef4da;
    padding:7px 20px 7px 20px;
    font-family: 'Nunito',"HelveticaNeue";
    font-weight: bolder;
    margin-right:5px;
}
.resume_button#edit_profile_info, .resume_button#save_user_data{
    float: left;
    width: auto;
    cursor: pointer;
    text-align: center;
}
.btn-Finish-RdTree_h{ margin-top:-50px; }
a.edit,a.remove{
    content:'';
    background-repeat: no-repeat;
    background-size:20px 20px;
    display: inline-block;
    height:20px;
    width: 20px;
}
a.edit{background-image: url(http://athletez.s3.amazonaws.com/resources/img/pencil.png);}
a.edit:hover,a.remove:hover{text-decoration: none;}
a.remove{ background-image: url(http://athletez.s3.amazonaws.com/resources/img/x.png);}
.section-new-controls{
    padding-left:5%;
}
.section-new-controls .resume_button{
    margin-top:10px;
    float:none;
}
.section-new-controls > div > span{
    width:30%;
    margin-right:5px;
}
.section-new-controls > div textarea{
    width:90%;
}
.section-new-controls > div > span:last-child textarea{
    padding:10px;
}
.txtAwards_h{
    margin-right: 5px;
}
#section-list-awards .standard-subsection-header, #section-list-references .standard-subsection-header{padding-bottom: 10px;}
#section-list-awards .standard-subsection-header > img, #section-list-references .standard-subsection-header > img{
    max-width:40px; max-height: 40px; margin:5px;
}
.awards-sports-header{
    border-bottom: 1px solid #ccc;
}
.section-new-award{
    padding-top:5px;
}
.section-new-award input[type="text"]{
    max-width:190px;
}
.section-new-award input[type="text"].year{
    max-width:70px;
}
.award-labels, .reference-labels{
    margin:25px 10px 0 0;
    height: auto;
    width: 100%;
    
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 1.1em;
    color:#515252;
}
.reference-labels{
    display:inline-block;
}
