.menu .dd {
	position: absolute;
	z-index: 1000;
	display: none;
	float: left;
	padding: 5px 10px 5px 10px;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 10px solid #ccc;
	border: 10px solid rgba(0, 0, 0, 0.2);
}
.dropdown span {
	float: left;
	padding: 5px;
	font-weight: bolder;
}
li.sport {
	line-height: 25px;
}
li.sport a {
	padding: 3px 0 3px 5px;
}
input[type="text"]#city {
	margin: 0;
}
.select, .select a {
	background-color: #33aeab;
	color: #FFFFFF !important;
	text-decoration: none;
}
li.sport:hover, li.sport a:hover {
	background-color: #33aeab;
	color: #FFFFFF !important;
	text-decoration: none;
}
.sport-list {
	background-color: #FEFEFE;
	margin: 0 15px 0 0;
}
#search-result {
	padding-left: 0px;
}
#search-result ul#image-list {
	padding-left: 15px;
}
#image-list, #menu {
	margin: 5px 0;
}
#menu {
	float: left;
	width: 100%;
	position: relative;
}
#menu #menu {
	border: 0;
	width: 90%;
	padding: 15px 0 0 15px;
}
#menu .menu {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#menu .menu-link-h, #menu span.show {
	font-weight: bolder;
	font-family: 'Raleway', "HelveticaNeue";
	font-size: 1.2em;
	color: #333;
	text-transform: uppercase;
}
#menu span.show {
	margin-top: 3px;
	margin-right: 5px;
}
.seach-box {
	margin: 0 15px 0 15px;
}
.type-icons a {
	color: #333;
	padding: 0 10px 0 5px;
}
img.tiny-sport-icon {
	max-width: 20px;
	max-height: 20px;
	margin-right: 4px;
}
li.sport a {
	display: inline-block;
	width: 100%;
	float: left;
}
li.sport.select a {
	color: #FFF;
}
li.sport a:hover {
	color: #FFF;
}
.caret-large-container {
	background-color: #333;
	height: 14px;
	width: 14px;
	padding: 3px;
	display: inline-block;
	margin: 0 0 0 8px;
	text-align: center;
	top: 3px;
	position: relative;
}
.caret-large {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 6px 0 6px;
	border-color: #FFF transparent transparent transparent;
	display: inline-block;
	margin: 0 0 3px 0;
}
.register-wrapper {
	background: url(/images/background/register_background.jpg) no-repeat;
	background-size: cover;
	opacity: 0.5;
	position: absolute;
	width: 100%;
	height: 330px;
	top: 37px;
}
.register-wrapper-h #regcontainer {
	padding: 0;
	background-color: transparent;
}
#regcontainer #mainreg {
	background-color: transparent;
	opacity: 1;
	height: 330px;
}
.homePage #main {
	padding-top: 0px;
}
#regcontainer #firstreg {
	float: left;
	width: 350px;
}
#mainreg #regpane {
	width: 470px;
}
#regpane #firstreg input {
	margin-top: 0;
	background-color: #FFF;
	width: 300px;
	height: 35px;
}
#regpane input.regsubmit {
	margin: 108px -10px 0 0;
	padding: 0 10px;
	float: right;
	height: 40px;
}
#regcontainer #fbpane {
	border-style: initial;
}
#regcontainer .regheader {
	padding: 0 0 0 35px;
	font-size: 2.5em;
	font-weight: bold;
}
#mainreg #regor {
	text-align: left;
	margin-left: 84px;
	color: #FFF;
}
.row-fluid .span2 {
	width: 12%;
}
#location.span3 {
	width: 12%;
}
.row-fluid .span3 {
	width: 17%;
}
.underline-text {
	text-decoration: underline;
}
#menu .fixed-icons {
	position: absolute;
	top: 68px;
	left: -110px;
	width: 90px;
}
