
<div class="row-fluid">
    <div class="logo" itemscope itemtype="http://schema.org/Organization">
    <% if(branding){ %>
    <a class="brand" itemprop="url" title="Athletez Home Page"  href="http://www.athletez.com/#!home">
	    <meta itemprop="name" content="Athletez.com - We're Athletez" />
	    <meta itemprop="description" content="Athletez.com is an online community for athletes of all skill levels.  When you link up with your teams and sports organizations, upload and share photos and highlights, and follow the athletes you want to track, your athletic profile will automatically be created so others can see what's going on with you!" />
		<meta itemprop="image" content="<%= branding.src %>"/>
	    <div style="display:none;" itemprop="founder" itemscope itemtype="http://schema.org/Person">
			<meta itemprop="name" content="Mike Wrather" />
		    <meta itemprop="email" content="mike@athletez.com" />
		    <meta itemprop="jobTitle" content="Co-Founder" />
	    </div>
	    <div style="display:none;" itemprop="founder" itemscope itemtype="http://schema.org/Person">
		    <meta itemprop="name" content="Maxwell Doyle" />
		    <meta itemprop="email" content="max@athletez.com" />
		    <meta itemprop="jobTitle" content="Co-Founder" />
	    </div>
        <img itemprop="logo" src="<%= branding.src %>" id="header_logo" alt="<%= branding.alt %>" />
    </a>
	<% } %>
    </div>

    <div class="searchform">

    </div>

    <div class="account clearfix">
        <% if(authorized){ %>
            <div class="photo"><img src="" alt="<%= user_name %>"/></div>


            <div class="userlinks dropdown">




                    <% _.each(nav,function(element,index){

	                console.log(element);
	                console.log(element instanceof Array);

	                if(element instanceof Array){
	                    %><ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	                         <% _.each(element,function(e2,index){ %>
	                            <li><%= e2.page %></li>
	                        <% }); %>
	                    </ul><%
	                } else {
	                    %><a href="<%= element.link %>" ><%= element.page %></a><%
	                }
	                %>

                    <% }); %>
	            <a class="dropdown-toggle" data-toggle="dropdown"><%= user_name %><b class="caret"></b></a>

    </div>



	    <% }  else { %>
            <a href="<%=login_url %>" id="userlogin"><%=login_label %></a>
	    <% } %>
    </div>
</div>

