<div class="image-bg">
	<div class="image-controls">
		<ul class="image-actions">
			<li><a href="javascript: void(0);" class="photo-player-tag-photo-h" title="tag photo">Tag Photo</a></li>
			<li><a href="javascript: void(0);" class="photo-player-vote-h" title="vote">Vote</a></li>
		</ul>

		<div class="left-arrow-container left-arrow photo-player-back pull-left">
			<a href="javascript: void(0)" class="photo-player-arrow back-arrow-h">
				<img src="http://cdn.athletez.com/resources/img/left_arrow.png" />
			</a>
		</div>
		<div class="right-arrow-container right-arrow photo-player-next pull-right">
			<a href="javascript: void(0)" class="photo-player-arrow next-arrow-h">
				<img src="http://cdn.athletez.com/resources/img/right_arrow.png" />
			</a>	
		</div>
	</div>
	<div id="video_container" class="hidden"><span>Loading Video...</span></div>
	<div class="loading_image"><img src="" class="photo-player-main-image large-image-h" /></div>

	<div class="thumbs-outer">
		<div class="thumbs-inner">
			<div class="direction leftmove"></div>
			<ul class="images-list thumb-image-list-h"></ul>
			<div class="direction rightmove"></div>
		</div>
	</div>

</div>

