#fbInvite {
    width: 1024px;
    height: 80%;
    top: 5%;
    left: 50%;
    margin-left: -537px;
}
#fbInvite .modal-body{
    position: absolute;
    height: 100%;
    width: 98%;
    padding: 0;
    overflow-y: scroll;
}